ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_backfill_reprocessing.json
{
  "Comment": "NDR backfill/reprocessing orchestrator with bounded parallelism (JSONata)",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeIncomingMessage",
  "States": {
    "NormalizeIncomingMessage": {
      "Type": "Pass",
      "Assign": {
        "raw_message": "{% $type($states.input)='string' ? $states.input : ($exists($states.input.message_body) ? $states.input.message_body : ($exists($states.input.Records[0].body) ? $states.input.Records[0].body : ($exists($states.input.Records[0].Sns.Message) ? $states.input.Records[0].Sns.Message : ''))) %}"
      },
      "Next": "ParseIncomingProjectContext"
    },
    "ParseIncomingProjectContext": {
      "Type": "Pass",
      "Assign": {
        "parsed_project_name": "{% $contains($raw_message,'project_name=') ? $split($split($raw_message,'project_name=')[1],';')[0] : '' %}",
        "parsed_feature_spec_version": "{% $contains($raw_message,'feature_spec_version=') ? $split($split($raw_message,'feature_spec_version=')[1],';')[0] : '' %}"
      },
      "Next": "LoadProjectParametersFromDynamo"
    },
    "LoadProjectParametersFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${ProjectParametersTableName}",
        "Key": {
          "project_name": {
            "S": "{% $exists($states.input.project_name) ? $states.input.project_name : $parsed_project_name %}"
          },
          "job_name": {
            "S": "{% 'project_parameters#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '${DefaultFeatureSpecVersion}')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "project_parameters_spec": "{% $exists($states.result.Item.spec.M) ? $states.result.Item.spec.M : {} %}",
        "project_defaults": "{% $exists($states.result.Item.spec.M.defaults.M) ? $states.result.Item.spec.M.defaults.M : {} %}"
      },
      "Next": "ResolvePipelineRuntimeParams"
    },
    "ResolvePipelineRuntimeParams": {
      "Type": "Pass",
      "Assign": {
        "project_name": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : ($exists($project_defaults.ProjectName.S) ? $project_defaults.ProjectName.S : '')) %}",
        "feature_spec_version": "{% $exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : ($exists($project_defaults.FeatureSpecVersion.S) ? $project_defaults.FeatureSpecVersion.S : '${DefaultFeatureSpecVersion}')) %}",
        "start_ts": "{% $exists($states.input.start_ts) ? $states.input.start_ts : ($contains($raw_message,'start_ts=') ? $split($split($raw_message,'start_ts=')[1],';')[0] : '2025-01-01T00:00:00Z') %}",
        "end_ts": "{% $exists($states.input.end_ts) ? $states.input.end_ts : ($contains($raw_message,'end_ts=') ? $split($split($raw_message,'end_ts=')[1],';')[0] : '2025-01-02T00:00:00Z') %}",
        "step_minutes": "{% $exists($states.input.step_minutes) ? $states.input.step_minutes : 15 %}"
      },
      "Next": "BuildWindowList"
    },
    "BuildWindowList": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${BuildBackfillWindowsLambdaArn}",
        "Payload": {
          "start_ts": "{% $start_ts %}",
          "end_ts": "{% $end_ts %}",
          "step_minutes": "{% $step_minutes %}",
          "project_name": "{% $project_name %}",
          "feature_spec_version": "{% $feature_spec_version %}"
        }
      },
      "Assign": {
        "windows": "{% $states.result.Payload.windows %}"
      },
      "Next": "RunBackfillWindows"
    },
    "RunBackfillWindows": {
      "Type": "Map",
      "Items": "{% $windows %}",
      "MaxConcurrency": 4,
      "ItemSelector": {
        "project_name": "{% $project_name %}",
        "feature_spec_version": "{% $feature_spec_version %}",
        "mini_batch_id": "{% $states.context.Map.Item.Value.mini_batch_id %}",
        "batch_start_ts_iso": "{% $states.context.Map.Item.Value.batch_start_ts_iso %}",
        "batch_end_ts_iso": "{% $states.context.Map.Item.Value.batch_end_ts_iso %}"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "StartBackfillPipeline",
        "States": {
          "StartBackfillPipeline": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
            "Arguments": {
              "PipelineName": "${PipelineNameBackfill15m}",
              "PipelineParameters": [
                {
                  "Name": "ProjectName",
                  "Value": "{% $states.input.project_name %}"
                },
                {
                  "Name": "FeatureSpecVersion",
                  "Value": "{% $states.input.feature_spec_version %}"
                },
                {
                  "Name": "MiniBatchId",
                  "Value": "{% $states.input.mini_batch_id %}"
                },
                {
                  "Name": "BatchStartTsIso",
                  "Value": "{% $states.input.batch_start_ts_iso %}"
                },
                {
                  "Name": "BatchEndTsIso",
                  "Value": "{% $states.input.batch_end_ts_iso %}"
                }
              ]
            },
            "Assign": {
              "pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}"
            },
            "Next": "WaitForWindowCompletionEvent"
          },
          "WaitForWindowCompletionEvent": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Arguments": {
              "FunctionName": "${PipelineCompletionCallbackLambdaArn}",
              "Payload": {
                "taskToken": "{% $states.context.Task.Token %}",
                "expected_pipeline_execution_arn": "{% $pipeline_execution_arn %}",
                "success_statuses": [
                  "Succeeded"
                ],
                "failure_statuses": [
                  "Failed",
                  "Stopped"
                ]
              }
            },
            "End": true
          }
        }
      },
      "Next": "EmitBackfillReconciliationEvent"
    },
    "EmitBackfillReconciliationEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Source": "ndr.orchestration",
            "DetailType": "NdrBackfillCompleted",
            "EventBusName": "${EventBusName}",
            "Detail": "{% $string({'project_name': $project_name, 'feature_spec_version': $feature_spec_version, 'start_ts': $start_ts, 'end_ts': $end_ts, 'window_count': $count($windows)}) %}"
          }
        ]
      },
      "End": true
    }
  }
}
