ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_prediction_publication.json
{
  "Comment": "NDR prediction join/publication orchestrator (JSONata)",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeIncomingMessage",
  "States": {
    "NormalizeIncomingMessage": {
      "Type": "Pass",
      "Assign": {
        "raw_message": "{% $type($states.input)='string' ? $states.input : ($exists($states.input.message_body) ? $states.input.message_body : ($exists($states.input.Records[0].body) ? $states.input.Records[0].body : ($exists($states.input.Records[0].Sns.Message) ? $states.input.Records[0].Sns.Message : ''))) %}"
      },
      "Next": "ParseIncomingProjectContext"
    },
    "ParseIncomingProjectContext": {
      "Type": "Pass",
      "Assign": {
        "parsed_project_name": "{% $contains($raw_message,'project_name=') ? $split($split($raw_message,'project_name=')[1],';')[0] : '' %}",
        "parsed_feature_spec_version": "{% $contains($raw_message,'feature_spec_version=') ? $split($split($raw_message,'feature_spec_version=')[1],';')[0] : '' %}"
      },
      "Next": "LoadProjectParametersFromDynamo"
    },
    "LoadProjectParametersFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${ProjectParametersTableName}",
        "Key": {
          "project_name": {
            "S": "{% $exists($states.input.project_name) ? $states.input.project_name : $parsed_project_name %}"
          },
          "job_name": {
            "S": "{% 'project_parameters#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '${DefaultFeatureSpecVersion}')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "project_parameters_spec": "{% $exists($states.result.Item.spec.M) ? $states.result.Item.spec.M : {} %}",
        "project_defaults": "{% $exists($states.result.Item.spec.M.defaults.M) ? $states.result.Item.spec.M.defaults.M : {} %}"
      },
      "Next": "ResolvePipelineRuntimeParams"
    },
    "ResolvePipelineRuntimeParams": {
      "Type": "Pass",
      "Assign": {
        "project_name": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : ($exists($project_defaults.ProjectName.S) ? $project_defaults.ProjectName.S : '')) %}",
        "feature_spec_version": "{% $exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : ($exists($project_defaults.FeatureSpecVersion.S) ? $project_defaults.FeatureSpecVersion.S : '${DefaultFeatureSpecVersion}')) %}",
        "mini_batch_id": "{% $exists($states.input.mini_batch_id) ? $states.input.mini_batch_id : ($contains($raw_message,'mini_batch_id=') ? $split($split($raw_message,'mini_batch_id=')[1],';')[0] : ($exists($project_defaults.MiniBatchId.S) ? $project_defaults.MiniBatchId.S : '')) %}",
        "batch_start_ts_iso": "{% $exists($states.input.batch_start_ts_iso) ? $states.input.batch_start_ts_iso : ($contains($raw_message,'batch_start_ts_iso=') ? $split($split($raw_message,'batch_start_ts_iso=')[1],';')[0] : ($exists($project_defaults.BatchStartTsIso.S) ? $project_defaults.BatchStartTsIso.S : '')) %}",
        "batch_end_ts_iso": "{% $exists($states.input.batch_end_ts_iso) ? $states.input.batch_end_ts_iso : ($contains($raw_message,'batch_end_ts_iso=') ? $split($split($raw_message,'batch_end_ts_iso=')[1],';')[0] : ($exists($project_defaults.BatchEndTsIso.S) ? $project_defaults.BatchEndTsIso.S : '')) %}",
        "targets": "{% $exists($states.input.targets) ? $states.input.targets : ['redshift','iceberg'] %}"
      },
      "Next": "StartPredictionJoinPipeline"
    },
    "StartPredictionJoinPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNamePredictionJoin}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "MiniBatchId",
            "Value": "{% $mini_batch_id %}"
          },
          {
            "Name": "BatchStartTsIso",
            "Value": "{% $batch_start_ts_iso %}"
          },
          {
            "Name": "BatchEndTsIso",
            "Value": "{% $batch_end_ts_iso %}"
          }
        ]
      },
      "Assign": {
        "prediction_join_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}"
      },
      "Next": "WaitForJoinCompletionEvent"
    },
    "WaitForJoinCompletionEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Arguments": {
        "FunctionName": "${PipelineCompletionCallbackLambdaArn}",
        "Payload": {
          "taskToken": "{% $states.context.Task.Token %}",
          "expected_pipeline_execution_arn": "{% $prediction_join_pipeline_execution_arn %}",
          "success_statuses": [
            "Succeeded"
          ],
          "failure_statuses": [
            "Failed",
            "Stopped"
          ]
        }
      },
      "Next": "PublishToTargets"
    },
    "PublishToTargets": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${PublishJoinedPredictionsLambdaArn}",
        "Payload": {
          "project_name": "{% $project_name %}",
          "feature_spec_version": "{% $feature_spec_version %}",
          "mini_batch_id": "{% $mini_batch_id %}",
          "targets": "{% $targets %}"
        }
      },
      "Assign": {
        "publication_result": "{% $states.result.Payload %}"
      },
      "Next": "EmitPublicationEvent"
    },
    "EmitPublicationEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Source": "ndr.orchestration",
            "DetailType": "NdrPredictionPublicationCompleted",
            "EventBusName": "${EventBusName}",
            "Detail": "{% $string($publication_result) %}"
          }
        ]
      },
      "End": true
    }
  }
}
