ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_15m_features_inference.json
{
  "Comment": "NDR 15m features + inference orchestrator (JSONata, polling + direct publication)",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeIncomingMessage",
  "States": {
    "NormalizeIncomingMessage": {
      "Type": "Pass",
      "Assign": {
        "raw_message": "{% $type($states.input)='string' ? $states.input : ($exists($states.input.message_body) ? $states.input.message_body : ($exists($states.input.Records[0].body) ? $states.input.Records[0].body : ($exists($states.input.Records[0].Sns.Message) ? $states.input.Records[0].Sns.Message : ''))) %}"
      },
      "Next": "ParseIncomingProjectContext"
    },
    "ParseIncomingProjectContext": {
      "Type": "Pass",
      "Assign": {
        "parsed_project_name": "{% $contains($raw_message,'project_name=') ? $split($split($raw_message,'project_name=')[1],';')[0] : '' %}",
        "parsed_feature_spec_version": "{% $contains($raw_message,'feature_spec_version=') ? $split($split($raw_message,'feature_spec_version=')[1],';')[0] : '' %}",
        "parsed_s3_key": "{% $exists($states.input.s3_key) ? $states.input.s3_key : ($exists($states.input.batch_s3_path) ? $states.input.batch_s3_path : ($contains($raw_message,'s3_key=') ? $split($split($raw_message,'s3_key=')[1],';')[0] : ($contains($raw_message,'batch_s3_path=') ? $split($split($raw_message,'batch_s3_path=')[1],';')[0] : ''))) %}",
        "parsed_org1": "{% $count($split($parsed_s3_key,'/')) >= 1 ? $split($parsed_s3_key,'/')[0] : '' %}",
        "parsed_org2": "{% $count($split($parsed_s3_key,'/')) >= 2 ? $split($parsed_s3_key,'/')[1] : '' %}",
        "parsed_date_prefix": "{% $count($split($parsed_s3_key,'/')) >= 7 ? $join([$split($parsed_s3_key,'/')[3],$split($parsed_s3_key,'/')[4],$split($parsed_s3_key,'/')[5]],'/') : '' %}",
        "parsed_batch_folder": "{% $count($split($parsed_s3_key,'/')) >= 7 ? $split($parsed_s3_key,'/')[6] : '' %}",
        "parsed_project_name_from_path": "{% $count($split($parsed_s3_key,'/')) >= 3 ? $split($parsed_s3_key,'/')[2] : '' %}",
        "parsed_source_ts_iso": "{% $exists($states.input.timestamp) ? $states.input.timestamp : ($exists($states.input.event_ts) ? $states.input.event_ts : ($contains($raw_message,'timestamp=') ? $split($split($raw_message,'timestamp=')[1],';')[0] : $now())) %}",
        "parsed_data_source_name": "{% $exists($states.input.data_source_name) ? $states.input.data_source_name : '' %}",
        "parsed_ml_project_name": "{% '' %}",
        "parsed_ml_project_names": "{% $exists($states.input.ml_project_names) ? $states.input.ml_project_names : [] %}",
        "parsed_batch_id": "{% $exists($states.input.batch_id) ? $states.input.batch_id : ($exists($states.input.mini_batch_id) ? $states.input.mini_batch_id : ($parsed_batch_folder != '' ? $parsed_batch_folder : '')) %}",
        "parsed_raw_parsed_logs_s3_prefix": "{% $exists($states.input.raw_parsed_logs_s3_prefix) ? $states.input.raw_parsed_logs_s3_prefix : '' %}",
        "unsupported_input_fields": "{% $keys($states.input)[$not($ in ['project_name','data_source_name','ml_project_names','batch_id','mini_batch_id','raw_parsed_logs_s3_prefix','timestamp','event_ts','feature_spec_version','s3_key','batch_s3_path','execution_ts_iso','lock_ttl_epoch','batch_start_ts_iso','force_process','message_body','Records'])] %}"
      },
      "Next": "BatchCompletionEventChoice"
    },
    "BatchCompletionEventChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.force_process) ? $states.input.force_process = true : false %}",
          "Next": "LoadProjectRoutingFromDynamo"
        },
        {
          "Condition": "{% $parsed_s3_key != '' and $parsed_batch_folder != '' %}",
          "Next": "LoadProjectRoutingFromDynamo"
        }
      ],
      "Default": "IgnoreNonBatchCompletionEvent"
    },
    "IgnoreNonBatchCompletionEvent": {
      "Type": "Succeed"
    },
    "LoadProjectRoutingFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${ProjectRoutingTableName}",
        "Key": {
          "org_key": {
            "S": "{% $parsed_org1 & '#' & $parsed_org2 %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "routed_project_name": "{% $exists($states.result.Item.project_name.S) ? $states.result.Item.project_name.S : '' %}",
        "routed_ingestion_prefix": "{% $exists($states.result.Item.ingestion_prefix.S) ? $states.result.Item.ingestion_prefix.S : '' %}"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "LoadDppConfigFromDynamo"
        }
      ],
      "Next": "LoadDppConfigFromDynamo"
    },
    "ResolvePipelineRuntimeParams": {
      "Type": "Pass",
      "Assign": {
        "project_name": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : ($parsed_project_name_from_path != '' ? $parsed_project_name_from_path : ($routed_project_name != '' ? $routed_project_name : ($exists($project_defaults.ProjectName.S) ? $project_defaults.ProjectName.S : '')))) %}",
        "feature_spec_version": "{% $exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : ($exists($project_defaults.FeatureSpecVersion.S) ? $project_defaults.FeatureSpecVersion.S : '')) %}",
        "mini_batch_id": "{% $parsed_batch_id %}",
        "source_timestamp_iso": "{% $parsed_source_ts_iso %}",
        "batch_start_ts_iso": "{% $exists($states.input.batch_start_ts_iso) ? $states.input.batch_start_ts_iso : $source_timestamp_iso %}",
        "batch_end_ts_iso": "{% $source_timestamp_iso %}",
        "execution_ts_iso": "{% $exists($states.input.execution_ts_iso) ? $states.input.execution_ts_iso : ($exists($project_defaults.ExecutionTsIso.S) ? $project_defaults.ExecutionTsIso.S : $now()) %}",
        "lock_ttl_epoch": "{% $exists($states.input.lock_ttl_epoch) ? $states.input.lock_ttl_epoch : ($exists($project_defaults.LockTtlEpoch.N) ? $number($project_defaults.LockTtlEpoch.N) : 1893456000) %}",
        "raw_parsed_logs_s3_prefix": "{% $parsed_raw_parsed_logs_s3_prefix %}",
        "data_source_name": "{% $parsed_data_source_name != '' ? $parsed_data_source_name : $project_name %}",
        "ml_project_names": "{% $ml_project_names %}",
        "date_utc": "{% $substring($source_timestamp_iso,0,10) %}",
        "hour_utc": "{% $substring($source_timestamp_iso,11,2) %}",
        "minute_utc": "{% $number($substring($source_timestamp_iso,14,2)) %}",
        "slot15": "{% $minute_utc <= 14 ? 1 : ($minute_utc <= 29 ? 2 : ($minute_utc <= 44 ? 3 : 4)) %}",
        "batch_index_version": "{% $feature_spec_version %}",
        "org1": "{% $count($split($raw_parsed_logs_s3_prefix,'/')) >= 6 ? $split($raw_parsed_logs_s3_prefix,'/')[4] : '' %}",
        "org2": "{% $count($split($raw_parsed_logs_s3_prefix,'/')) >= 7 ? $split($raw_parsed_logs_s3_prefix,'/')[5] : '' %}",
        "batch_index_pk": "{% $project_name & '#' & $data_source_name & '#' & $batch_index_version & '#' & $date_utc %}",
        "batch_index_sk": "{% $hour_utc & '#' & $string($slot15) & '#' & $mini_batch_id %}",
        "batch_index_gsi1pk": "{% $project_name & '#' & $data_source_name & '#' & $batch_index_version & '#' & $mini_batch_id %}",
        "date_partition": "{% $replace($substring($source_timestamp_iso,0,10),'-','/') %}",
        "hour": "{% $substring($source_timestamp_iso,11,2) %}",
        "within_hour_run_number": "{% $string($slot15) %}"
      },
      "Next": "ValidateResolvedRuntimeParams"
    },
    "AcquireMiniBatchLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Arguments": {
        "TableName": "${LockTableName}",
        "Item": {
          "pk": {
            "S": "{% $project_name & '#' & $feature_spec_version %}"
          },
          "sk": {
            "S": "{% $batch_start_ts_iso & '#' & $batch_end_ts_iso %}"
          },
          "ttl_epoch": {
            "N": "{% $string($lock_ttl_epoch) %}"
          },
          "created_at": {
            "S": "{% $execution_ts_iso %}"
          }
        },
        "ConditionExpression": "attribute_not_exists(pk) AND attribute_not_exists(sk)"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "DynamoDB.ConditionalCheckFailedException"
          ],
          "Next": "DuplicateMiniBatch"
        }
      ],
      "Next": "WriteBatchIndexBatchIdItem"
    },
    "DuplicateMiniBatch": {
      "Type": "Fail",
      "Error": "DuplicateMiniBatch",
      "Cause": "Execution lock already exists for this 15m window"
    },
    "ReleaseMiniBatchLockOnSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:deleteItem",
      "Arguments": {
        "TableName": "${LockTableName}",
        "Key": {
          "pk": {
            "S": "{% $project_name & '#' & $feature_spec_version %}"
          },
          "sk": {
            "S": "{% $batch_start_ts_iso & '#' & $batch_end_ts_iso %}"
          }
        }
      },
      "Next": "Success"
    },
    "ReleaseMiniBatchLockOnFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:deleteItem",
      "Arguments": {
        "TableName": "${LockTableName}",
        "Key": {
          "pk": {
            "S": "{% $project_name & '#' & $feature_spec_version %}"
          },
          "sk": {
            "S": "{% $batch_start_ts_iso & '#' & $batch_end_ts_iso %}"
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "WorkflowFailed"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "Ndr15mFeaturesInferenceFailed",
      "Cause": "15m features/inference/publication orchestration failed"
    },
    "Success": {
      "Type": "Succeed"
    },
    "ValidateResolvedRuntimeParams": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $project_name = \"\" %}",
          "Next": "FailMissingProjectName"
        },
        {
          "Condition": "{% $data_source_name = \"\" %}",
          "Next": "FailMissingDataSourceName"
        },
        {
          "Condition": "{% $project_name != $data_source_name %}",
          "Next": "FailProjectDataSourceMismatch"
        },
        {
          "Condition": "{% $feature_spec_version = \"\" %}",
          "Next": "FailMissingFeatureSpecVersion"
        },
        {
          "Condition": "{% $mini_batch_id = \"\" %}",
          "Next": "FailMissingMiniBatchId"
        },
        {
          "Condition": "{% $batch_start_ts_iso = \"\" %}",
          "Next": "FailMissingBatchStartTsIso"
        },
        {
          "Condition": "{% $batch_end_ts_iso = \"\" %}",
          "Next": "FailMissingBatchEndTsIso"
        },
        {
          "Condition": "{% $count($unsupported_input_fields) > 0 %}",
          "Next": "FailUnsupportedInputFields"
        },
        {
          "Condition": "{% $raw_parsed_logs_s3_prefix = \"\" %}",
          "Next": "FailMissingRawParsedLogsS3Prefix"
        },
        {
          "Condition": "{% not($startsWith($raw_parsed_logs_s3_prefix,'s3://')) %}",
          "Next": "FailInvalidRawParsedLogsS3Prefix"
        },
        {
          "Condition": "{% not($endsWith($raw_parsed_logs_s3_prefix, '/' & $mini_batch_id & '/')) %}",
          "Next": "FailInvalidRawParsedLogsS3Prefix"
        },
        {
          "Condition": "{% not($endsWith($source_timestamp_iso,'Z')) %}",
          "Next": "FailInvalidTimestamp"
        }
      ],
      "Default": "AcquireMiniBatchLock"
    },
    "FailMissingProjectName": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: project_name"
    },
    "FailMissingFeatureSpecVersion": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: feature_spec_version"
    },
    "FailMissingMiniBatchId": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: mini_batch_id"
    },
    "FailMissingBatchStartTsIso": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: batch_start_ts_iso"
    },
    "FailMissingBatchEndTsIso": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: batch_end_ts_iso"
    },
    "FailMissingRawParsedLogsS3Prefix": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: raw_parsed_logs_s3_prefix"
    },
    "FailUnsupportedInputFields": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "legacy field not supported"
    },
    "FailMissingDataSourceName": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: data_source_name"
    },
    "FailProjectDataSourceMismatch": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "project_name and data_source_name must match"
    },
    "FailInvalidRawParsedLogsS3Prefix": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "raw_parsed_logs_s3_prefix must start with s3:// and end with /<batch_id>/"
    },
    "FailInvalidTimestamp": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "timestamp must be ISO-8601 UTC with Z suffix"
    },
    "LoadDppConfigFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${DppConfigTableName}",
        "Key": {
          "project_name": {
            "S": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : $routed_project_name) %}"
          },
          "job_name_version": {
            "S": "{% 'pipeline_defaults#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "project_parameters_spec": "{% $exists($states.result.Item.spec.M) ? $states.result.Item.spec.M : {} %}",
        "project_defaults": "{% $exists($states.result.Item.spec.M.defaults.M) ? $states.result.Item.spec.M.defaults.M : {} %}"
      },
      "Next": "NormalizeMlProjectNames"
    },
    "LoadMlpConfigFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${MlpConfigTableName}",
        "Key": {
          "ml_project_name": {
            "S": "{% $ml_project_names[0] %}"
          },
          "job_name_version": {
            "S": "{% 'pipeline_defaults#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "mlp_linked_project_name": "{% $exists($states.result.Item.project_name.S) ? $states.result.Item.project_name.S : '' %}"
      },
      "Next": "ResolvePipelineRuntimeParams"
    },
    "NormalizeMlProjectNames": {
      "Type": "Pass",
      "Assign": {
        "ml_project_names": "{% $distinct($count($parsed_ml_project_names) > 0 ? $parsed_ml_project_names : ($exists($project_defaults.MlProjectName.S) and $project_defaults.MlProjectName.S != '' ? [$project_defaults.MlProjectName.S] : [])) %}"
      },
      "Next": "ValidateMlProjectNamesBeforeMlpRead"
    },
    "ValidateMlProjectNamesBeforeMlpRead": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $count($ml_project_names)=0 %}",
          "Next": "FailMissingMlProjectNames"
        },
        {
          "Condition": "{% $count($ml_project_names[$trim($string($)) = '']) > 0 %}",
          "Next": "FailInvalidMlProjectNames"
        }
      ],
      "Default": "LoadMlpConfigFromDynamo"
    },
    "FailMissingMlProjectNames": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing ml_project_names after normalization"
    },
    "FailInvalidMlProjectNames": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "ml_project_names must contain non-empty strings"
    },
    "WriteBatchIndexBatchIdItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Arguments": {
        "TableName": "${BatchIndexTableName}",
        "Item": {
          "PK": {
            "S": "{% $project_name %}"
          },
          "SK": {
            "S": "{% $mini_batch_id %}"
          },
          "batch_id": {
            "S": "{% $mini_batch_id %}"
          },
          "date_partition": {
            "S": "{% $date_partition %}"
          },
          "hour": {
            "S": "{% $hour %}"
          },
          "within_hour_run_number": {
            "S": "{% $within_hour_run_number %}"
          },
          "etl_ts": {
            "S": "{% $source_timestamp_iso %}"
          },
          "org1": {
            "S": "{% $org1 %}"
          },
          "org2": {
            "S": "{% $org2 %}"
          },
          "raw_parsed_logs_s3_prefix": {
            "S": "{% $raw_parsed_logs_s3_prefix %}"
          },
          "ml_project_names": {
            "L": "{% $map($ml_project_names, function($v){{\"S\":$v}}) %}"
          },
          "s3_prefixes": {
            "M": {}
          },
          "rt_flow_status": {
            "S": "RECEIVED"
          },
          "last_updated_at": {
            "S": "{% $execution_ts_iso %}"
          }
        },
        "ConditionExpression": "attribute_not_exists(PK) AND attribute_not_exists(SK)"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "DynamoDB.ConditionalCheckFailedException"
          ],
          "Next": "UpdateBatchIndexBatchIdItem"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReleaseMiniBatchLockOnFailure"
        }
      ],
      "Next": "WriteBatchIndexDateLookupItem"
    },
    "UpdateBatchIndexBatchIdItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Arguments": {
        "TableName": "${BatchIndexTableName}",
        "Key": {
          "PK": {
            "S": "{% $project_name %}"
          },
          "SK": {
            "S": "{% $mini_batch_id %}"
          }
        },
        "UpdateExpression": "SET raw_parsed_logs_s3_prefix = :raw_parsed_logs_s3_prefix, etl_ts = :etl_ts, ml_project_names = :ml_project_names, rt_flow_status = :rt_flow_status, last_updated_at = :last_updated_at",
        "ExpressionAttributeValues": {
          ":raw_parsed_logs_s3_prefix": {
            "S": "{% $raw_parsed_logs_s3_prefix %}"
          },
          ":etl_ts": {
            "S": "{% $source_timestamp_iso %}"
          },
          ":ml_project_names": {
            "L": "{% $map($ml_project_names, function($v){{\"S\":$v}}) %}"
          },
          ":rt_flow_status": {
            "S": "RECEIVED"
          },
          ":last_updated_at": {
            "S": "{% $execution_ts_iso %}"
          }
        },
        "ConditionExpression": "attribute_exists(PK) AND attribute_exists(SK)"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReleaseMiniBatchLockOnFailure"
        }
      ],
      "Next": "WriteBatchIndexDateLookupItem"
    },
    "WriteBatchIndexDateLookupItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Arguments": {
        "TableName": "${BatchIndexTableName}",
        "Item": {
          "PK": {
            "S": "{% $project_name %}"
          },
          "SK": {
            "S": "{% $date_partition & \"#\" & $hour & \"#\" & $within_hour_run_number %}"
          },
          "batch_id": {
            "S": "{% $mini_batch_id %}"
          },
          "batch_lookup_sk": {
            "S": "{% $mini_batch_id %}"
          },
          "date_partition": {
            "S": "{% $date_partition %}"
          },
          "hour": {
            "S": "{% $hour %}"
          },
          "within_hour_run_number": {
            "S": "{% $within_hour_run_number %}"
          },
          "etl_ts": {
            "S": "{% $source_timestamp_iso %}"
          },
          "org1": {
            "S": "{% $org1 %}"
          },
          "org2": {
            "S": "{% $org2 %}"
          }
        },
        "ConditionExpression": "attribute_not_exists(PK) AND attribute_not_exists(SK)"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "DynamoDB.ConditionalCheckFailedException"
          ],
          "Next": "RunPerMlProjectBranch"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReleaseMiniBatchLockOnFailure"
        }
      ],
      "Next": "RunPerMlProjectBranch"
    },
    "RunPerMlProjectBranch": {
      "Type": "Map",
      "Items": "{% $ml_project_names %}",
      "ItemSelector": {
        "project_name": "{% $project_name %}",
        "feature_spec_version": "{% $feature_spec_version %}",
        "mini_batch_id": "{% $mini_batch_id %}",
        "batch_start_ts_iso": "{% $batch_start_ts_iso %}",
        "batch_end_ts_iso": "{% $batch_end_ts_iso %}",
        "raw_parsed_logs_s3_prefix": "{% $raw_parsed_logs_s3_prefix %}",
        "ml_project_name": "{% $states.context.Map.Item.Value %}"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Start15mFeaturesPipeline",
        "States": {
          "Start15mFeaturesPipeline": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
            "Arguments": {
              "PipelineName": "${PipelineName15m}",
              "PipelineParameters": [
                {
                  "Name": "ProjectName",
                  "Value": "{% $states.input.project_name %}"
                },
                {
                  "Name": "FeatureSpecVersion",
                  "Value": "{% $states.input.feature_spec_version %}"
                },
                {
                  "Name": "MiniBatchId",
                  "Value": "{% $states.input.mini_batch_id %}"
                },
                {
                  "Name": "BatchStartTsIso",
                  "Value": "{% $states.input.batch_start_ts_iso %}"
                },
                {
                  "Name": "BatchEndTsIso",
                  "Value": "{% $states.input.batch_end_ts_iso %}"
                },
                {
                  "Name": "RawParsedLogsS3Prefix",
                  "Value": "{% $states.input.raw_parsed_logs_s3_prefix %}"
                }
              ]
            },
            "Assign": {
              "features_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}",
              "features_poll_attempt": 0
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "SageMaker.AmazonSageMakerException",
                  "ThrottlingException",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 4,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "BranchFailed"
              }
            ],
            "Next": "Describe15mFeaturesPipeline"
          },
          "Describe15mFeaturesPipeline": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
            "Arguments": {
              "PipelineExecutionArn": "{% $features_pipeline_execution_arn %}"
            },
            "Assign": {
              "features_pipeline_status": "{% $states.result.PipelineExecutionStatus %}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "SageMaker.AmazonSageMakerException",
                  "ThrottlingException",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 6,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "BranchFailed"
              }
            ],
            "Next": "FeaturesPipelineStatusChoice"
          },
          "FeaturesPipelineStatusChoice": {
            "Type": "Choice",
            "Choices": [
              {
                "Condition": "{% $features_pipeline_status = 'Succeeded' %}",
                "Next": "BuildRtArtifactReadinessManifest"
              },
              {
                "Condition": "{% ($features_pipeline_status = 'Executing' or $features_pipeline_status = 'Stopping') and $features_poll_attempt < 120 %}",
                "Next": "WaitBeforeDescribe15mFeatures"
              }
            ],
            "Default": "BranchFailed"
          },
          "BuildRtArtifactReadinessManifest": {
            "Type": "Pass",
            "Assign": {
              "rt_artifact_readiness_manifest": "{% {'contract_version':'rt_artifact_readiness.v1','required_families':['delta','fg_a','pair_counts','fg_c'],'missing_ranges':($exists($states.input.rt_artifact_readiness_manifest.missing_ranges) ? $states.input.rt_artifact_readiness_manifest.missing_ranges : []),'check_status':($count($exists($states.input.rt_artifact_readiness_manifest.missing_ranges) ? $states.input.rt_artifact_readiness_manifest.missing_ranges : []) > 0 ? 'missing' : 'ready'),'check_reason':($count($exists($states.input.rt_artifact_readiness_manifest.missing_ranges) ? $states.input.rt_artifact_readiness_manifest.missing_ranges : []) > 0 ? 'dependency_missing:rt_artifacts' : 'ready'),'idempotency_key':($exists($states.input.rt_artifact_readiness_manifest.idempotency_key) ? $states.input.rt_artifact_readiness_manifest.idempotency_key : '0000000000000000000000000000000000000000000000000000000000000000')} %}",
              "rt_readiness_cycle": 0
            },
            "Next": "CheckRtArtifactReadiness"
          },
          "CheckRtArtifactReadiness": {
            "Type": "Choice",
            "Choices": [
              {
                "Condition": "{% $count($rt_artifact_readiness_manifest.missing_ranges) = 0 %}",
                "Next": "StartInferencePipeline"
              },
              {
                "Condition": "{% $rt_readiness_cycle = 0 %}",
                "Next": "BuildRtBackfillRemediationRequest"
              }
            ],
            "Default": "FailRtArtifactsUnresolvedAfterRemediation"
          },
          "BuildRtBackfillRemediationRequest": {
            "Type": "Pass",
            "Assign": {
              "rt_backfill_remediation_request": "{% {'contract_version':'NdrBackfillRequest.v1','consumer':'realtime','project_name':$states.input.project_name,'feature_spec_version':$states.input.feature_spec_version,'ml_project_name':$states.input.ml_project_name,'batch_id':$states.input.mini_batch_id,'requested_families':$distinct($rt_artifact_readiness_manifest.missing_ranges.family),'missing_ranges':$rt_artifact_readiness_manifest.missing_ranges,'source_hint':{'raw_parsed_logs_s3_prefix':$states.input.raw_parsed_logs_s3_prefix},'provenance':{'producer_flow':'rt_15m_features_inference','source_mode':'batch_index','request_id':$states.context.Execution.Id},'idempotency_key':$rt_artifact_readiness_manifest.idempotency_key} %}"
            },
            "Next": "UpdateBatchIndexRemediationRequested"
          },
          "UpdateBatchIndexRemediationRequested": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
            "Arguments": {
              "TableName": "${BatchIndexTableName}",
              "Key": {
                "PK": {
                  "S": "{% $states.input.project_name %}"
                },
                "SK": {
                  "S": "{% $states.input.mini_batch_id %}"
                }
              },
              "UpdateExpression": "SET rt_flow_status = :rt_flow_status, rt_remediation_status = :rt_remediation_status, rt_remediation_idempotency_key = :rt_remediation_idempotency_key, last_updated_at = :last_updated_at",
              "ExpressionAttributeValues": {
                ":rt_flow_status": {
                  "S": "REMEDIATION_REQUESTED"
                },
                ":rt_remediation_status": {
                  "S": "REQUESTED"
                },
                ":rt_remediation_idempotency_key": {
                  "S": "{% $rt_backfill_remediation_request.idempotency_key %}"
                },
                ":last_updated_at": {
                  "S": "{% $states.context.State.EnteredTime %}"
                }
              },
              "ConditionExpression": "attribute_exists(PK) AND attribute_exists(SK)"
            },
            "Next": "InvokeRtBackfillRemediation",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "BranchFailed"
              }
            ]
          },
          "InvokeRtBackfillRemediation": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Arguments": {
              "StateMachineArn": "${BackfillStateMachineArn}",
              "Input": "{% $rt_backfill_remediation_request %}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "StepFunctions.ExecutionLimitExceeded",
                  "ThrottlingException",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "UpdateBatchIndexRemediationFailed"
              }
            ],
            "Next": "UpdateBatchIndexRemediationSucceeded"
          },
          "UpdateBatchIndexRemediationSucceeded": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
            "Arguments": {
              "TableName": "${BatchIndexTableName}",
              "Key": {
                "PK": {
                  "S": "{% $states.input.project_name %}"
                },
                "SK": {
                  "S": "{% $states.input.mini_batch_id %}"
                }
              },
              "UpdateExpression": "SET rt_flow_status = :rt_flow_status, rt_remediation_status = :rt_remediation_status, last_updated_at = :last_updated_at",
              "ExpressionAttributeValues": {
                ":rt_flow_status": {
                  "S": "REMEDIATION_SUCCEEDED"
                },
                ":rt_remediation_status": {
                  "S": "SUCCEEDED"
                },
                ":last_updated_at": {
                  "S": "{% $states.context.State.EnteredTime %}"
                }
              },
              "ConditionExpression": "attribute_exists(PK) AND attribute_exists(SK)"
            },
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "BranchFailed"
              }
            ],
            "Next": "RecheckRtArtifactReadiness"
          },
          "UpdateBatchIndexRemediationFailed": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
            "Arguments": {
              "TableName": "${BatchIndexTableName}",
              "Key": {
                "PK": {
                  "S": "{% $states.input.project_name %}"
                },
                "SK": {
                  "S": "{% $states.input.mini_batch_id %}"
                }
              },
              "UpdateExpression": "SET rt_flow_status = :rt_flow_status, rt_remediation_status = :rt_remediation_status, last_updated_at = :last_updated_at",
              "ExpressionAttributeValues": {
                ":rt_flow_status": {
                  "S": "REMEDIATION_FAILED"
                },
                ":rt_remediation_status": {
                  "S": "FAILED"
                },
                ":last_updated_at": {
                  "S": "{% $states.context.State.EnteredTime %}"
                }
              },
              "ConditionExpression": "attribute_exists(PK) AND attribute_exists(SK)"
            },
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "BranchFailed"
              }
            ],
            "Next": "BranchFailed"
          },
          "RecheckRtArtifactReadiness": {
            "Type": "Pass",
            "Assign": {
              "rt_artifact_readiness_manifest": "{% $exists($states.input.recheck_rt_artifact_readiness_manifest.missing_ranges) ? {'contract_version':'rt_artifact_readiness.v1','required_families':['delta','fg_a','pair_counts','fg_c'],'missing_ranges':$states.input.recheck_rt_artifact_readiness_manifest.missing_ranges,'check_status':($count($states.input.recheck_rt_artifact_readiness_manifest.missing_ranges) > 0 ? 'missing' : 'ready'),'check_reason':($count($states.input.recheck_rt_artifact_readiness_manifest.missing_ranges) > 0 ? 'dependency_missing:rt_artifacts_after_remediation' : 'ready'),'idempotency_key':($exists($states.input.recheck_rt_artifact_readiness_manifest.idempotency_key) ? $states.input.recheck_rt_artifact_readiness_manifest.idempotency_key : $rt_artifact_readiness_manifest.idempotency_key)} : {'contract_version':'rt_artifact_readiness.v1','required_families':['delta','fg_a','pair_counts','fg_c'],'missing_ranges':[],'check_status':'ready','check_reason':'ready','idempotency_key':$rt_artifact_readiness_manifest.idempotency_key} %}",
              "rt_readiness_cycle": 1
            },
            "Next": "CheckRtArtifactReadiness"
          },
          "FailRtArtifactsUnresolvedAfterRemediation": {
            "Type": "Fail",
            "Error": "RealtimeArtifactReadinessGateFailed",
            "Cause": "Unresolved RT dependencies after remediation; dependency_missing:rt_artifacts"
          },
          "WaitBeforeDescribe15mFeatures": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "IncrementFeaturesPollAttempt"
          },
          "IncrementFeaturesPollAttempt": {
            "Type": "Pass",
            "Assign": {
              "features_poll_attempt": "{% $features_poll_attempt + 1 %}"
            },
            "Next": "Describe15mFeaturesPipeline"
          },
          "StartInferencePipeline": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
            "Arguments": {
              "PipelineName": "${PipelineNameInference}",
              "PipelineParameters": [
                {
                  "Name": "ProjectName",
                  "Value": "{% $states.input.project_name %}"
                },
                {
                  "Name": "FeatureSpecVersion",
                  "Value": "{% $states.input.feature_spec_version %}"
                },
                {
                  "Name": "MiniBatchId",
                  "Value": "{% $states.input.mini_batch_id %}"
                },
                {
                  "Name": "BatchStartTsIso",
                  "Value": "{% $states.input.batch_start_ts_iso %}"
                },
                {
                  "Name": "BatchEndTsIso",
                  "Value": "{% $states.input.batch_end_ts_iso %}"
                },
                {
                  "Name": "MlProjectName",
                  "Value": "{% $states.input.ml_project_name %}"
                }
              ]
            },
            "Assign": {
              "inference_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}",
              "inference_poll_attempt": 0
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "SageMaker.AmazonSageMakerException",
                  "ThrottlingException",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 4,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "BranchFailed"
              }
            ],
            "Next": "DescribeInferencePipeline"
          },
          "DescribeInferencePipeline": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
            "Arguments": {
              "PipelineExecutionArn": "{% $inference_pipeline_execution_arn %}"
            },
            "Assign": {
              "inference_pipeline_status": "{% $states.result.PipelineExecutionStatus %}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "SageMaker.AmazonSageMakerException",
                  "ThrottlingException",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 6,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "BranchFailed"
              }
            ],
            "Next": "InferencePipelineStatusChoice"
          },
          "InferencePipelineStatusChoice": {
            "Type": "Choice",
            "Choices": [
              {
                "Condition": "{% $inference_pipeline_status = 'Succeeded' %}",
                "Next": "StartPredictionPublicationWorkflow"
              },
              {
                "Condition": "{% ($inference_pipeline_status = 'Executing' or $inference_pipeline_status = 'Stopping') and $inference_poll_attempt < 120 %}",
                "Next": "WaitBeforeDescribeInference"
              }
            ],
            "Default": "BranchFailed"
          },
          "WaitBeforeDescribeInference": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "IncrementInferencePollAttempt"
          },
          "IncrementInferencePollAttempt": {
            "Type": "Pass",
            "Assign": {
              "inference_poll_attempt": "{% $inference_poll_attempt + 1 %}"
            },
            "Next": "DescribeInferencePipeline"
          },
          "StartPredictionPublicationWorkflow": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Arguments": {
              "StateMachineArn": "${PredictionPublicationStateMachineArn}",
              "Input": {
                "project_name": "{% $states.input.project_name %}",
                "feature_spec_version": "{% $states.input.feature_spec_version %}",
                "mini_batch_id": "{% $states.input.mini_batch_id %}",
                "batch_start_ts_iso": "{% $states.input.batch_start_ts_iso %}",
                "batch_end_ts_iso": "{% $states.input.batch_end_ts_iso %}",
                "ml_project_name": "{% $states.input.ml_project_name %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "StepFunctions.ExecutionLimitExceeded",
                  "ThrottlingException",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 2.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "BranchFailed"
              }
            ],
            "Next": "BranchSucceeded"
          },
          "BranchSucceeded": {
            "Type": "Succeed"
          },
          "BranchFailed": {
            "Type": "Fail",
            "Error": "MlProjectBranchFailed",
            "Cause": "Per-ml_project_name branch execution failed"
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReleaseMiniBatchLockOnFailure"
        }
      ],
      "Next": "ReleaseMiniBatchLockOnSuccess"
    }
  }
}
