ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_monthly_fg_b_baselines.json
{
  "Comment": "NDR monthly FG-B baseline orchestration (pipeline-native, polling)",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeIncomingMessage",
  "States": {
    "NormalizeIncomingMessage": {
      "Type": "Pass",
      "Assign": {
        "raw_message": "{% $type($states.input)='string' ? $states.input : ($exists($states.input.message_body) ? $states.input.message_body : ($exists($states.input.Records[0].body) ? $states.input.Records[0].body : ($exists($states.input.Records[0].Sns.Message) ? $states.input.Records[0].Sns.Message : ''))) %}"
      },
      "Next": "ParseIncomingProjectContext"
    },
    "ParseIncomingProjectContext": {
      "Type": "Pass",
      "Assign": {
        "parsed_project_name": "{% $contains($raw_message,'project_name=') ? $split($split($raw_message,'project_name=')[1],';')[0] : '' %}",
        "parsed_feature_spec_version": "{% $contains($raw_message,'feature_spec_version=') ? $split($split($raw_message,'feature_spec_version=')[1],';')[0] : '' %}"
      },
      "Next": "LoadDppConfigFromDynamo"
    },
    "ResolvePipelineRuntimeParams": {
      "Type": "Pass",
      "Assign": {
        "project_name": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : ($exists($project_defaults.ProjectName.S) ? $project_defaults.ProjectName.S : '')) %}",
        "feature_spec_version": "{% $exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : ($exists($project_defaults.FeatureSpecVersion.S) ? $project_defaults.FeatureSpecVersion.S : '${DefaultFeatureSpecVersion}')) %}",
        "reference_month": "{% $exists($states.input.reference_month) ? $states.input.reference_month : ($contains($raw_message,'reference_month=') ? $split($split($raw_message,'reference_month=')[1],';')[0] : ($exists($project_defaults.ReferenceMonth.S) ? $project_defaults.ReferenceMonth.S : '')) %}"
      },
      "Next": "ValidateResolvedRuntimeParams"
    },
    "StartMachineInventoryRefresh": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameMachineInventory}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "ReferenceMonth",
            "Value": "{% $reference_month %}"
          }
        ]
      },
      "Assign": {
        "inventory_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}",
        "inventory_poll_attempt": 0
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 4,
          "BackoffRate": 2.0
        }
      ],
      "Next": "DescribeInventoryPipeline"
    },
    "DescribeInventoryPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {
        "PipelineExecutionArn": "{% $inventory_pipeline_execution_arn %}"
      },
      "Assign": {
        "inventory_pipeline_status": "{% $states.result.PipelineExecutionStatus %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Next": "InventoryPipelineStatusChoice"
    },
    "InventoryPipelineStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $inventory_pipeline_status = 'Succeeded' %}",
          "Next": "ComputeBaselineDependencyReadiness"
        },
        {
          "Condition": "{% ($inventory_pipeline_status = 'Executing' or $inventory_pipeline_status = 'Stopping') and $inventory_poll_attempt < 120 %}",
          "Next": "WaitBeforeInventoryDescribe"
        }
      ],
      "Default": "WorkflowFailed"
    },
    "WaitBeforeInventoryDescribe": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "IncrementInventoryPollAttempt"
    },
    "IncrementInventoryPollAttempt": {
      "Type": "Pass",
      "Assign": {
        "inventory_poll_attempt": "{% $inventory_poll_attempt + 1 %}"
      },
      "Next": "DescribeInventoryPipeline"
    },
    "BuildBaselineDependencyCheckManifest": {
      "Type": "Pass",
      "Assign": {
        "baseline_dependency_manifest": "{% $exists($states.result.Body) ? $eval($states.result.Body) : $error('MONTHLY_READINESS_ARTIFACT_MISSING','Computed monthly readiness artifact is required') %}",
        "baseline_gate_cycle": "{% $exists($baseline_gate_cycle) ? $baseline_gate_cycle : 0 %}"
      },
      "Next": "ValidateBaselineDependencyManifest"
    },
    "CheckBaselineDependencies": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $baseline_dependency_manifest.ready = true %}",
          "Next": "StartFGBBaselinePipeline"
        },
        {
          "Condition": "{% $baseline_dependency_manifest.ready = false and $baseline_gate_cycle = 0 %}",
          "Next": "BuildBaselineRemediationRequest"
        }
      ],
      "Default": "FailBaselineDependenciesUnresolved"
    },
    "BuildBaselineRemediationRequest": {
      "Type": "Pass",
      "Assign": {
        "baseline_remediation_request": "{% {'contract_version':'NdrBaselineRemediationRequest.v1','consumer':'monthly_baseline','project_name':$project_name,'feature_spec_version':$feature_spec_version,'reference_month':$reference_month,'required_families':$baseline_dependency_manifest.required_families,'missing_ranges':$baseline_dependency_manifest.missing_ranges,'provenance':{'producer_flow':'monthly_fg_b_baselines','source_mode':'batch_index','request_id':$states.context.Execution.Id},'idempotency_key':$baseline_dependency_manifest.idempotency_key} %}",
        "baseline_remediation_window": "{% {'start_ts': $min($baseline_dependency_manifest.missing_ranges.start_ts_iso), 'end_ts': $max($baseline_dependency_manifest.missing_ranges.end_ts_iso)} %}"
      },
      "Next": "InvokeBaselineDependencyRemediation"
    },
    "InvokeBaselineDependencyRemediation": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${BackfillStateMachineArn}",
        "Input": {
          "project_name": "{% $project_name %}",
          "feature_spec_version": "{% $feature_spec_version %}",
          "start_ts": "{% $baseline_remediation_window.start_ts %}",
          "end_ts": "{% $baseline_remediation_window.end_ts %}",
          "reference_month": "{% $reference_month %}",
          "required_families": "{% $baseline_remediation_request.required_families %}",
          "missing_ranges": "{% $baseline_remediation_request.missing_ranges %}",
          "provenance": "{% $baseline_remediation_request.provenance %}",
          "contract_version": "{% $baseline_remediation_request.contract_version %}",
          "idempotency_key": "{% $baseline_remediation_request.idempotency_key %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "StepFunctions.ExecutionLimitExceeded",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "IncrementBaselineGateCycle"
    },
    "RecheckBaselineDependencies": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameMonthlyReadiness}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "ReferenceMonth",
            "Value": "{% $reference_month %}"
          },
          {
            "Name": "ReadinessCycle",
            "Value": "{% $string($baseline_gate_cycle) %}"
          }
        ]
      },
      "Assign": {
        "monthly_recheck_readiness_execution_arn": "{% $states.result.PipelineExecutionArn %}",
        "monthly_readiness_poll_attempt": 0
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 4,
          "BackoffRate": 2.0
        }
      ],
      "Next": "DescribeMonthlyReadinessPipeline"
    },
    "FailBaselineDependenciesUnresolved": {
      "Type": "Fail",
      "Error": "BaselineDependencyGateFailed",
      "Cause": "MONTHLY_READINESS_UNRESOLVED_AFTER_REMEDIATION: Computed monthly readiness remained missing after remediation recheck"
    },
    "StartFGBBaselinePipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameFGB}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "ReferenceMonth",
            "Value": "{% $reference_month %}"
          }
        ]
      },
      "Assign": {
        "fgb_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}",
        "fgb_poll_attempt": 0
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 4,
          "BackoffRate": 2.0
        }
      ],
      "Next": "DescribeFGBPipeline"
    },
    "DescribeFGBPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {
        "PipelineExecutionArn": "{% $fgb_pipeline_execution_arn %}"
      },
      "Assign": {
        "fgb_pipeline_status": "{% $states.result.PipelineExecutionStatus %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Next": "FGBPipelineStatusChoice"
    },
    "FGBPipelineStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $fgb_pipeline_status = 'Succeeded' %}",
          "Next": "EmitBaselineReadyEvent"
        },
        {
          "Condition": "{% ($fgb_pipeline_status = 'Executing' or $fgb_pipeline_status = 'Stopping') and $fgb_poll_attempt < 120 %}",
          "Next": "WaitBeforeFGBDescribe"
        }
      ],
      "Default": "WorkflowFailed"
    },
    "WaitBeforeFGBDescribe": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "IncrementFGBPollAttempt"
    },
    "IncrementFGBPollAttempt": {
      "Type": "Pass",
      "Assign": {
        "fgb_poll_attempt": "{% $fgb_poll_attempt + 1 %}"
      },
      "Next": "DescribeFGBPipeline"
    },
    "EmitBaselineReadyEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Source": "ndr.orchestration",
            "DetailType": "NdrMonthlyBaselinesCompleted",
            "EventBusName": "${EventBusName}",
            "Detail": "{% $string({'project_name': $project_name, 'feature_spec_version': $feature_spec_version, 'reference_month': $reference_month}) %}"
          }
        ]
      },
      "End": true
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "NdrMonthlyBaselinesFailed",
      "Cause": "Monthly baseline pipeline orchestration failed"
    },
    "ValidateResolvedRuntimeParams": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $project_name = \"\" %}",
          "Next": "FailMissingProjectName"
        },
        {
          "Condition": "{% $feature_spec_version = \"\" %}",
          "Next": "FailMissingFeatureSpecVersion"
        },
        {
          "Condition": "{% $reference_month = \"\" %}",
          "Next": "FailMissingReferenceMonth"
        }
      ],
      "Default": "StartMachineInventoryRefresh"
    },
    "FailMissingProjectName": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: project_name"
    },
    "FailMissingFeatureSpecVersion": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: feature_spec_version"
    },
    "FailMissingReferenceMonth": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: reference_month"
    },
    "LoadDppConfigFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${DppConfigTableName}",
        "Key": {
          "project_name": {
            "S": "{% $exists($states.input.project_name) ? $states.input.project_name : $parsed_project_name %}"
          },
          "job_name_version": {
            "S": "{% 'pipeline_defaults#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '${DefaultFeatureSpecVersion}')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "project_defaults": "{% $exists($states.result.Item.spec.M.defaults.M) ? $states.result.Item.spec.M.defaults.M : {} %}"
      },
      "Next": "ResolvePipelineRuntimeParams"
    },
    "ComputeBaselineDependencyReadiness": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameMonthlyReadiness}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "ReferenceMonth",
            "Value": "{% $reference_month %}"
          },
          {
            "Name": "ReadinessCycle",
            "Value": "{% $string($baseline_gate_cycle) %}"
          }
        ]
      },
      "Assign": {
        "monthly_readiness_execution_arn": "{% $states.result.PipelineExecutionArn %}",
        "monthly_readiness_poll_attempt": 0
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 4,
          "BackoffRate": 2.0
        }
      ],
      "Next": "DescribeMonthlyReadinessPipeline"
    },
    "IncrementBaselineGateCycle": {
      "Type": "Pass",
      "Assign": {
        "baseline_gate_cycle": "{% $baseline_gate_cycle + 1 %}"
      },
      "Next": "RecheckBaselineDependencies"
    },
    "DescribeMonthlyReadinessPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {
        "PipelineExecutionArn": "{% $monthly_readiness_execution_arn %}"
      },
      "Assign": {
        "monthly_readiness_pipeline_status": "{% $states.result.PipelineExecutionStatus %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Next": "MonthlyReadinessPipelineStatusChoice"
    },
    "MonthlyReadinessPipelineStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $monthly_readiness_pipeline_status = 'Succeeded' %}",
          "Next": "ReadMonthlyReadinessArtifact"
        },
        {
          "Condition": "{% ($monthly_readiness_pipeline_status = 'Executing' or $monthly_readiness_pipeline_status = 'Stopping') and $monthly_readiness_poll_attempt < 120 %}",
          "Next": "WaitBeforeDescribeMonthlyReadinessPipeline"
        }
      ],
      "Default": "WorkflowFailed"
    },
    "WaitBeforeDescribeMonthlyReadinessPipeline": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "IncrementMonthlyReadinessPollAttempt"
    },
    "IncrementMonthlyReadinessPollAttempt": {
      "Type": "Pass",
      "Assign": {
        "monthly_readiness_poll_attempt": "{% $monthly_readiness_poll_attempt + 1 %}"
      },
      "Next": "DescribeMonthlyReadinessPipeline"
    },
    "ReadMonthlyReadinessArtifact": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Arguments": {
        "Bucket": "${ArtifactsBucketName}",
        "Key": "{% 'orchestration/readiness/monthly_fg_b_readiness/v3/' & $project_name & '/' & $feature_spec_version & '/' & $reference_month & '/cycle=' & $string($baseline_gate_cycle) & '/manifest.json' %}"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailMonthlyReadinessArtifactMissing"
        }
      ],
      "Next": "BuildBaselineDependencyCheckManifest"
    },
    "ValidateBaselineDependencyManifest": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% not($exists($baseline_dependency_manifest.contract_version)) or $baseline_dependency_manifest.contract_version != 'monthly_fg_b_readiness.v3' %}",
          "Next": "FailMonthlyReadinessContractInvalid"
        },
        {
          "Condition": "{% not($exists($baseline_dependency_manifest.project_name)) or not($exists($baseline_dependency_manifest.feature_spec_version)) or not($exists($baseline_dependency_manifest.reference_month)) %}",
          "Next": "FailMonthlyReadinessContractInvalid"
        },
        {
          "Condition": "{% not($exists($baseline_dependency_manifest.ready)) or not($exists($baseline_dependency_manifest.required_families)) or not($exists($baseline_dependency_manifest.missing_ranges)) %}",
          "Next": "FailMonthlyReadinessContractInvalid"
        },
        {
          "Condition": "{% not($exists($baseline_dependency_manifest.decision_code)) or not($exists($baseline_dependency_manifest.as_of_ts)) or not($exists($baseline_dependency_manifest.idempotency_key)) %}",
          "Next": "FailMonthlyReadinessContractInvalid"
        },
        {
          "Condition": "{% $baseline_dependency_manifest.project_name != $project_name or $baseline_dependency_manifest.feature_spec_version != $feature_spec_version or $baseline_dependency_manifest.reference_month != $reference_month %}",
          "Next": "FailMonthlyReadinessContractInvalid"
        }
      ],
      "Default": "CheckBaselineDependencies"
    },
    "FailMonthlyReadinessArtifactMissing": {
      "Type": "Fail",
      "Error": "BaselineDependencyGateFailed",
      "Cause": "MONTHLY_READINESS_ARTIFACT_MISSING: Monthly readiness artifact not found for gate evaluation"
    },
    "FailMonthlyReadinessContractInvalid": {
      "Type": "Fail",
      "Error": "BaselineDependencyGateFailed",
      "Cause": "MONTHLY_READINESS_CONTRACT_INVALID: Monthly readiness artifact schema/version/identity validation failed"
    }
  }
}