ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_monthly_fg_b_baselines.json
{
  "Comment": "NDR monthly FG-B baseline orchestration (pipeline-native, polling)",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeIncomingMessage",
  "States": {
    "NormalizeIncomingMessage": {
      "Type": "Pass",
      "Assign": {
        "raw_message": "{% $type($states.input)='string' ? $states.input : ($exists($states.input.message_body) ? $states.input.message_body : ($exists($states.input.Records[0].body) ? $states.input.Records[0].body : ($exists($states.input.Records[0].Sns.Message) ? $states.input.Records[0].Sns.Message : ''))) %}"
      },
      "Next": "ParseIncomingProjectContext"
    },
    "ParseIncomingProjectContext": {
      "Type": "Pass",
      "Assign": {
        "parsed_project_name": "{% $contains($raw_message,'project_name=') ? $split($split($raw_message,'project_name=')[1],';')[0] : '' %}",
        "parsed_feature_spec_version": "{% $contains($raw_message,'feature_spec_version=') ? $split($split($raw_message,'feature_spec_version=')[1],';')[0] : '' %}"
      },
      "Next": "LoadDppConfigFromDynamo"
    },
    "ResolvePipelineRuntimeParams": {
      "Type": "Pass",
      "Assign": {
        "project_name": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : ($exists($project_defaults.ProjectName.S) ? $project_defaults.ProjectName.S : '')) %}",
        "feature_spec_version": "{% $exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : ($exists($project_defaults.FeatureSpecVersion.S) ? $project_defaults.FeatureSpecVersion.S : '${DefaultFeatureSpecVersion}')) %}",
        "reference_month": "{% $exists($states.input.reference_month) ? $states.input.reference_month : ($contains($raw_message,'reference_month=') ? $split($split($raw_message,'reference_month=')[1],';')[0] : ($exists($project_defaults.ReferenceMonth.S) ? $project_defaults.ReferenceMonth.S : '')) %}"
      },
      "Next": "ValidateResolvedRuntimeParams"
    },
    "StartMachineInventoryRefresh": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameMachineInventory}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "ReferenceMonth",
            "Value": "{% $reference_month %}"
          }
        ]
      },
      "Assign": {
        "inventory_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}",
        "inventory_poll_attempt": 0
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 4,
          "BackoffRate": 2.0
        }
      ],
      "Next": "DescribeInventoryPipeline"
    },
    "DescribeInventoryPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {
        "PipelineExecutionArn": "{% $inventory_pipeline_execution_arn %}"
      },
      "Assign": {
        "inventory_pipeline_status": "{% $states.result.PipelineExecutionStatus %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Next": "InventoryPipelineStatusChoice"
    },
    "InventoryPipelineStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $inventory_pipeline_status = 'Succeeded' %}",
          "Next": "StartFGBBaselinePipeline"
        },
        {
          "Condition": "{% ($inventory_pipeline_status = 'Executing' or $inventory_pipeline_status = 'Stopping') and $inventory_poll_attempt < 120 %}",
          "Next": "WaitBeforeInventoryDescribe"
        }
      ],
      "Default": "WorkflowFailed"
    },
    "WaitBeforeInventoryDescribe": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "IncrementInventoryPollAttempt"
    },
    "IncrementInventoryPollAttempt": {
      "Type": "Pass",
      "Assign": {
        "inventory_poll_attempt": "{% $inventory_poll_attempt + 1 %}"
      },
      "Next": "DescribeInventoryPipeline"
    },
    "StartFGBBaselinePipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameFGB}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "ReferenceMonth",
            "Value": "{% $reference_month %}"
          }
        ]
      },
      "Assign": {
        "fgb_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}",
        "fgb_poll_attempt": 0
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 4,
          "BackoffRate": 2.0
        }
      ],
      "Next": "DescribeFGBPipeline"
    },
    "DescribeFGBPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {
        "PipelineExecutionArn": "{% $fgb_pipeline_execution_arn %}"
      },
      "Assign": {
        "fgb_pipeline_status": "{% $states.result.PipelineExecutionStatus %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Next": "FGBPipelineStatusChoice"
    },
    "FGBPipelineStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $fgb_pipeline_status = 'Succeeded' %}",
          "Next": "EmitBaselineReadyEvent"
        },
        {
          "Condition": "{% ($fgb_pipeline_status = 'Executing' or $fgb_pipeline_status = 'Stopping') and $fgb_poll_attempt < 120 %}",
          "Next": "WaitBeforeFGBDescribe"
        }
      ],
      "Default": "WorkflowFailed"
    },
    "WaitBeforeFGBDescribe": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "IncrementFGBPollAttempt"
    },
    "IncrementFGBPollAttempt": {
      "Type": "Pass",
      "Assign": {
        "fgb_poll_attempt": "{% $fgb_poll_attempt + 1 %}"
      },
      "Next": "DescribeFGBPipeline"
    },
    "EmitBaselineReadyEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Source": "ndr.orchestration",
            "DetailType": "NdrMonthlyBaselinesCompleted",
            "EventBusName": "${EventBusName}",
            "Detail": "{% $string({'project_name': $project_name, 'feature_spec_version': $feature_spec_version, 'reference_month': $reference_month}) %}"
          }
        ]
      },
      "End": true
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "NdrMonthlyBaselinesFailed",
      "Cause": "Monthly baseline pipeline orchestration failed"
    },
    "ValidateResolvedRuntimeParams": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $project_name = \"\" %}",
          "Next": "FailMissingProjectName"
        },
        {
          "Condition": "{% $feature_spec_version = \"\" %}",
          "Next": "FailMissingFeatureSpecVersion"
        },
        {
          "Condition": "{% $reference_month = \"\" %}",
          "Next": "FailMissingReferenceMonth"
        }
      ],
      "Default": "StartMachineInventoryRefresh"
    },
    "FailMissingProjectName": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: project_name"
    },
    "FailMissingFeatureSpecVersion": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: feature_spec_version"
    },
    "FailMissingReferenceMonth": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: reference_month"
    },
    "LoadDppConfigFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${DppConfigTableName}",
        "Key": {
          "project_name": {
            "S": "{% $exists($states.input.project_name) ? $states.input.project_name : $parsed_project_name %}"
          },
          "job_name_version": {
            "S": "{% 'pipeline_defaults#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '${DefaultFeatureSpecVersion}')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "project_defaults": "{% $exists($states.result.Item.spec.M.defaults.M) ? $states.result.Item.spec.M.defaults.M : {} %}"
      },
      "Next": "LoadMlpConfigFromDynamo"
    },
    "LoadMlpConfigFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${MlpConfigTableName}",
        "Key": {
          "ml_project_name": {
            "S": "{% $exists($states.input.ml_project_name) ? $states.input.ml_project_name : ($exists($project_defaults.MlProjectName.S) ? $project_defaults.MlProjectName.S : '') %}"
          },
          "job_name_version": {
            "S": "{% 'pipeline_defaults#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '${DefaultFeatureSpecVersion}')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "mlp_linked_project_name": "{% $exists($states.result.Item.project_name.S) ? $states.result.Item.project_name.S : '' %}"
      },
      "Next": "ResolvePipelineRuntimeParams"
    }
  }
}
