ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_code_deployment_orchestrator.json
{
  "Comment": "NDR code artifact deployment orchestrator (Task 9)",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeDeploymentRequest",
  "States": {
    "NormalizeDeploymentRequest": {
      "Type": "Pass",
      "Assign": {
        "deployment_request": "{% {'project_name':$states.input.project_name,'feature_spec_version':$states.input.feature_spec_version,'deployment_mode':$exists($states.input.deployment_mode) ? $states.input.deployment_mode : 'shadow','request_id':$exists($states.input.request_id) ? $states.input.request_id : $states.context.Execution.Id,'artifact_build_id':$exists($states.input.artifact_build_id) and $states.input.artifact_build_id != '' ? $states.input.artifact_build_id : ('auto-' & $substring($replace($states.context.Execution.Id,':',''),0,16)),'force_reconciliation':$exists($states.input.force_reconciliation) ? $states.input.force_reconciliation : false} %}"
      },
      "Next": "LoadDeploymentConfigFromDdb"
    },
    "LoadDeploymentConfigFromDdb": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${DppConfigTableName}",
        "Key": {
          "project_name": {
            "S": "{% $deployment_request.project_name %}"
          },
          "job_name_version": {
            "S": "{% 'pipeline_15m_streaming#' & $deployment_request.feature_spec_version %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "deployment_pipeline_spec": "{% $states.result.Item.spec.M %}",
        "manual_deployment_marker": "{% $exists($states.result.Item.spec.M.deployment_manual_marker.S) ? $states.result.Item.spec.M.deployment_manual_marker.S : '' %}",
        "deployment_checkpoint": "{% $exists($states.result.Item.spec.M.deployment_checkpoint.S) ? $states.result.Item.spec.M.deployment_checkpoint.S : '' %}"
      },
      "Next": "CheckManualBreakGlassMarker"
    },
    "CheckManualBreakGlassMarker": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $manual_deployment_marker != '' and $deployment_checkpoint = 'break_glass_reconciliation_required' and $deployment_request.force_reconciliation = false %}",
          "Next": "FailBreakGlassReconciliationRequired"
        }
      ],
      "Default": "StartCodeBundleBuildPipeline"
    },
    "StartCodeBundleBuildPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameCodeBundleBuild}",
        "PipelineParameters": [
          {"Name": "ProjectName", "Value": "{% $deployment_request.project_name %}"},
          {"Name": "FeatureSpecVersion", "Value": "{% $deployment_request.feature_spec_version %}"},
          {"Name": "ArtifactBuildId", "Value": "{% $deployment_request.artifact_build_id %}"}
        ]
      },
      "Assign": {
        "code_bundle_execution_arn": "{% $states.result.PipelineExecutionArn %}"
      },
      "Next": "DescribeCodeBundleBuildPipeline"
    },
    "DescribeCodeBundleBuildPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {
        "PipelineExecutionArn": "{% $code_bundle_execution_arn %}"
      },
      "Assign": {
        "code_bundle_status": "{% $states.result.PipelineExecutionStatus %}"
      },
      "Next": "CodeBundleBuildCompleteChoice"
    },
    "CodeBundleBuildCompleteChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $code_bundle_status = 'Succeeded' %}",
          "Next": "StartArtifactValidationPipeline"
        },
        {
          "Condition": "{% $code_bundle_status in ['Executing','Stopping'] %}",
          "Next": "WaitCodeBundleBuildPipeline"
        }
      ],
      "Default": "FailBuildPipeline"
    },
    "WaitCodeBundleBuildPipeline": {"Type": "Wait", "Seconds": 20, "Next": "DescribeCodeBundleBuildPipeline"},
    "StartArtifactValidationPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameCodeArtifactValidate}",
        "PipelineParameters": [
          {"Name": "ProjectName", "Value": "{% $deployment_request.project_name %}"},
          {"Name": "FeatureSpecVersion", "Value": "{% $deployment_request.feature_spec_version %}"},
          {"Name": "ArtifactBuildId", "Value": "{% $deployment_request.artifact_build_id %}"}
        ]
      },
      "Assign": {"artifact_validate_execution_arn": "{% $states.result.PipelineExecutionArn %}"},
      "Next": "DescribeArtifactValidationPipeline"
    },
    "DescribeArtifactValidationPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {"PipelineExecutionArn": "{% $artifact_validate_execution_arn %}"},
      "Assign": {"artifact_validate_status": "{% $states.result.PipelineExecutionStatus %}"},
      "Next": "ArtifactValidationCompleteChoice"
    },
    "ArtifactValidationCompleteChoice": {
      "Type": "Choice",
      "Choices": [
        {"Condition": "{% $artifact_validate_status = 'Succeeded' %}", "Next": "DeploymentModeChoice"},
        {"Condition": "{% $artifact_validate_status in ['Executing','Stopping'] %}", "Next": "WaitArtifactValidationPipeline"}
      ],
      "Default": "FailArtifactValidationPipeline"
    },
    "WaitArtifactValidationPipeline": {"Type": "Wait", "Seconds": 20, "Next": "DescribeArtifactValidationPipeline"},
    "DeploymentModeChoice": {
      "Type": "Choice",
      "Choices": [
        {"Condition": "{% $deployment_request.deployment_mode = 'shadow' %}", "Next": "StartDeploymentSmokeValidationPipeline"},
        {"Condition": "{% $deployment_request.deployment_mode = 'authoritative' %}", "Next": "PromoteArtifactPointers"}
      ],
      "Default": "FailInvalidDeploymentMode"
    },
    "PromoteArtifactPointers": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Arguments": {
        "TableName": "${DppConfigTableName}",
        "Key": {
          "project_name": {"S": "{% $deployment_request.project_name %}"},
          "job_name_version": {"S": "{% 'pipeline_15m_streaming#' & $deployment_request.feature_spec_version %}"}
        },
        "UpdateExpression": "SET spec.deployment_status = :status, spec.deployment_checkpoint = :checkpoint, spec.deployment_last_build_id = :build_id, spec.deployment_last_error = :last_error, spec.deployment_updated_at = :updated_at",
        "ExpressionAttributeValues": {
          ":status": {"S": "IN_PROGRESS"},
          ":checkpoint": {"S": "artifact_promoted_pending_smoke"},
          ":build_id": {"S": "{% $deployment_request.artifact_build_id %}"},
          ":last_error": {"S": ""},
          ":updated_at": {"S": "{% $states.context.State.EnteredTime %}"}
        }
      },
      "Next": "StartDeploymentSmokeValidationPipeline"
    },
    "StartDeploymentSmokeValidationPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameCodeSmokeValidate}",
        "PipelineParameters": [
          {"Name": "ProjectName", "Value": "{% $deployment_request.project_name %}"},
          {"Name": "FeatureSpecVersion", "Value": "{% $deployment_request.feature_spec_version %}"},
          {"Name": "ArtifactBuildId", "Value": "{% $deployment_request.artifact_build_id %}"}
        ]
      },
      "Assign": {"smoke_validate_execution_arn": "{% $states.result.PipelineExecutionArn %}"},
      "Next": "DescribeDeploymentSmokeValidationPipeline"
    },
    "DescribeDeploymentSmokeValidationPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {"PipelineExecutionArn": "{% $smoke_validate_execution_arn %}"},
      "Assign": {"smoke_validate_status": "{% $states.result.PipelineExecutionStatus %}"},
      "Next": "SmokeValidationCompleteChoice"
    },
    "SmokeValidationCompleteChoice": {
      "Type": "Choice",
      "Choices": [
        {"Condition": "{% $smoke_validate_status = 'Succeeded' %}", "Next": "CommitDeploymentReady"},
        {"Condition": "{% $smoke_validate_status in ['Executing','Stopping'] %}", "Next": "WaitDeploymentSmokeValidationPipeline"}
      ],
      "Default": "PostPromotionFailureChoice"
    },
    "WaitDeploymentSmokeValidationPipeline": {"Type": "Wait", "Seconds": 20, "Next": "DescribeDeploymentSmokeValidationPipeline"},
    "PostPromotionFailureChoice": {
      "Type": "Choice",
      "Choices": [
        {"Condition": "{% $deployment_request.deployment_mode = 'authoritative' %}", "Next": "RollbackArtifactPointers"}
      ],
      "Default": "FailSmokeValidationPipeline"
    },
    "RollbackArtifactPointers": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Arguments": {
        "TableName": "${DppConfigTableName}",
        "Key": {
          "project_name": {"S": "{% $deployment_request.project_name %}"},
          "job_name_version": {"S": "{% 'pipeline_15m_streaming#' & $deployment_request.feature_spec_version %}"}
        },
        "UpdateExpression": "SET spec.deployment_status = :status, spec.deployment_checkpoint = :checkpoint, spec.deployment_last_error = :last_error, spec.deployment_updated_at = :updated_at",
        "ExpressionAttributeValues": {
          ":status": {"S": "FAILED"},
          ":checkpoint": {"S": "rollback_completed"},
          ":last_error": {"S": "TASK9_SMOKE_VALIDATION_FAILED"},
          ":updated_at": {"S": "{% $states.context.State.EnteredTime %}"}
        }
      },
      "Next": "DeploymentFailedRollback"
    },
    "CommitDeploymentReady": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
      "Arguments": {
        "TableName": "${DppConfigTableName}",
        "Key": {
          "project_name": {"S": "{% $deployment_request.project_name %}"},
          "job_name_version": {"S": "{% 'pipeline_15m_streaming#' & $deployment_request.feature_spec_version %}"}
        },
        "UpdateExpression": "SET spec.deployment_status = :status, spec.deployment_checkpoint = :checkpoint, spec.deployment_last_build_id = :build_id, spec.deployment_last_error = :last_error, spec.deployment_updated_at = :updated_at",
        "ExpressionAttributeValues": {
          ":status": {"S": "READY"},
          ":checkpoint": {"S": "steady_state_ready"},
          ":build_id": {"S": "{% $deployment_request.artifact_build_id %}"},
          ":last_error": {"S": ""},
          ":updated_at": {"S": "{% $states.context.State.EnteredTime %}"}
        }
      },
      "Next": "DeploymentSucceeded"
    },
    "FailBreakGlassReconciliationRequired": {"Type": "Fail", "Error": "TASK9_BREAK_GLASS_RECONCILIATION_REQUIRED", "Cause": "Manual break-glass marker present; reconciliation run required before next promotion."},
    "FailBuildPipeline": {"Type": "Fail", "Error": "TASK9_BUILD_PIPELINE_FAILED", "Cause": "Code bundle build pipeline failed."},
    "FailArtifactValidationPipeline": {"Type": "Fail", "Error": "TASK9_ARTIFACT_VALIDATION_FAILED", "Cause": "Artifact validation pipeline failed."},
    "FailSmokeValidationPipeline": {"Type": "Fail", "Error": "TASK9_SMOKE_VALIDATION_FAILED", "Cause": "Deployment smoke validation failed before authoritative promotion."},
    "FailInvalidDeploymentMode": {"Type": "Fail", "Error": "TASK9_INVALID_DEPLOYMENT_MODE", "Cause": "Deployment mode must be shadow or authoritative."},
    "DeploymentFailedRollback": {"Type": "Fail", "Error": "TASK9_ROLLBACK_COMPLETED", "Cause": "Rollback completed after post-promotion validation failure."},
    "DeploymentSucceeded": {"Type": "Succeed"}
  }
}
