ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_training_orchestrator.json
{
  "Comment": "NDR training orchestrator (coarse-grained) that delegates verifier/remediation/training/publish/attributes/deploy to one unified SageMaker pipeline",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeIncomingMessage",
  "States": {
    "NormalizeIncomingMessage": {
      "Type": "Pass",
      "Assign": {
        "raw_message": "{% $type($states.input)='string' ? $states.input : ($exists($states.input.message_body) ? $states.input.message_body : ($exists($states.input.Records[0].body) ? $states.input.Records[0].body : ($exists($states.input.Records[0].Sns.Message) ? $states.input.Records[0].Sns.Message : ''))) %}"
      },
      "Next": "ParseIncomingProjectContext"
    },
    "ParseIncomingProjectContext": {
      "Type": "Pass",
      "Assign": {
        "parsed_project_name": "{% $contains($raw_message,'project_name=') ? $split($split($raw_message,'project_name=')[1],';')[0] : '' %}",
        "parsed_feature_spec_version": "{% $contains($raw_message,'feature_spec_version=') ? $split($split($raw_message,'feature_spec_version=')[1],';')[0] : '' %}"
      },
      "Next": "LoadProjectParametersFromDynamo"
    },
    "LoadProjectParametersFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${ProjectParametersTableName}",
        "Key": {
          "project_name": {
            "S": "{% $exists($states.input.project_name) ? $states.input.project_name : $parsed_project_name %}"
          },
          "job_name": {
            "S": "{% 'project_parameters#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '${DefaultFeatureSpecVersion}')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "project_defaults": "{% $exists($states.result.Item.spec.M.defaults.M) ? $states.result.Item.spec.M.defaults.M : {} %}"
      },
      "Next": "ResolvePipelineRuntimeParams"
    },
    "ResolvePipelineRuntimeParams": {
      "Type": "Pass",
      "Assign": {
        "project_name": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : ($exists($project_defaults.ProjectName.S) ? $project_defaults.ProjectName.S : '')) %}",
        "feature_spec_version": "{% $exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : ($exists($project_defaults.FeatureSpecVersion.S) ? $project_defaults.FeatureSpecVersion.S : '${DefaultFeatureSpecVersion}')) %}",
        "run_id": "{% $exists($states.input.run_id) ? $states.input.run_id : ($contains($raw_message,'run_id=') ? $split($split($raw_message,'run_id=')[1],';')[0] : ($exists($project_defaults.RunId.S) ? $project_defaults.RunId.S : '')) %}",
        "execution_ts_iso": "{% $exists($states.input.execution_ts_iso) ? $states.input.execution_ts_iso : ($exists($project_defaults.ExecutionTsIso.S) ? $project_defaults.ExecutionTsIso.S : $now()) %}",
        "training_start_ts": "{% $exists($states.input.training_start_ts) ? $states.input.training_start_ts : ($exists($project_defaults.TrainingStartTs.S) ? $project_defaults.TrainingStartTs.S : '') %}",
        "training_end_ts": "{% $exists($states.input.training_end_ts) ? $states.input.training_end_ts : ($exists($project_defaults.TrainingEndTs.S) ? $project_defaults.TrainingEndTs.S : '') %}",
        "eval_start_ts": "{% $exists($states.input.eval_start_ts) ? $states.input.eval_start_ts : ($exists($project_defaults.EvalStartTs.S) ? $project_defaults.EvalStartTs.S : '') %}",
        "eval_end_ts": "{% $exists($states.input.eval_end_ts) ? $states.input.eval_end_ts : ($exists($project_defaults.EvalEndTs.S) ? $project_defaults.EvalEndTs.S : '') %}",
        "missing_windows_override": "{% $exists($states.input.missing_windows_override) ? $states.input.missing_windows_override : [] %}"
      },
      "Next": "StartTrainingPipeline"
    },
    "StartTrainingPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameIFTraining}",
        "PipelineParameters": [
          {"Name": "ProjectName", "Value": "{% $project_name %}"},
          {"Name": "FeatureSpecVersion", "Value": "{% $feature_spec_version %}"},
          {"Name": "RunId", "Value": "{% $run_id %}"},
          {"Name": "ExecutionTsIso", "Value": "{% $execution_ts_iso %}"},
          {"Name": "TrainingStartTs", "Value": "{% $training_start_ts %}"},
          {"Name": "TrainingEndTs", "Value": "{% $training_end_ts %}"},
          {"Name": "EvalStartTs", "Value": "{% $eval_start_ts %}"},
          {"Name": "EvalEndTs", "Value": "{% $eval_end_ts %}"},
          {"Name": "MissingWindowsOverride", "Value": "{% $string($missing_windows_override) %}"}
        ]
      },
      "Assign": {
        "training_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}",
        "training_poll_attempt": 0
      },
      "Retry": [
        {
          "ErrorEquals": ["SageMaker.AmazonSageMakerException", "ThrottlingException", "States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 4,
          "BackoffRate": 2.0
        }
      ],
      "Next": "DescribeTrainingPipeline"
    },
    "DescribeTrainingPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {
        "PipelineExecutionArn": "{% $training_pipeline_execution_arn %}"
      },
      "Assign": {
        "training_pipeline_status": "{% $states.result.PipelineExecutionStatus %}",
        "training_failure_reason": "{% $exists($states.result.FailureReason) ? $states.result.FailureReason : '' %}"
      },
      "Retry": [
        {
          "ErrorEquals": ["SageMaker.AmazonSageMakerException", "ThrottlingException", "States.TaskFailed"],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Next": "TrainingPipelineStatusChoice"
    },
    "TrainingPipelineStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {"Condition": "{% $training_pipeline_status = 'Succeeded' %}", "Next": "Success"},
        {
          "Condition": "{% ($training_pipeline_status = 'Executing' or $training_pipeline_status = 'Stopping') and $training_poll_attempt < 120 %}",
          "Next": "WaitBeforeTrainingDescribe"
        }
      ],
      "Default": "WorkflowFailed"
    },
    "WaitBeforeTrainingDescribe": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "IncrementTrainingPollAttempt"
    },
    "IncrementTrainingPollAttempt": {
      "Type": "Pass",
      "Assign": {
        "training_poll_attempt": "{% $training_poll_attempt + 1 %}"
      },
      "Next": "DescribeTrainingPipeline"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "NdrUnifiedTrainingPipelineFailed",
      "Cause": "Unified IF training pipeline failed, was stopped, or exceeded poll budget"
    },
    "Success": {"Type": "Succeed"}
  }
}
