ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_15m_features_inference.json
{
  "Comment": "NDR 15m features + inference orchestrator (JSONata)",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeIncomingMessage",
  "States": {
    "NormalizeIncomingMessage": {
      "Type": "Pass",
      "Assign": {
        "raw_message": "{% $type($states.input)='string' ? $states.input : ($exists($states.input.message_body) ? $states.input.message_body : ($exists($states.input.Records[0].body) ? $states.input.Records[0].body : ($exists($states.input.Records[0].Sns.Message) ? $states.input.Records[0].Sns.Message : ''))) %}"
      },
      "Next": "ResolvePipelineRuntimeParams"
    },
    "ResolvePipelineRuntimeParams": {
      "Type": "Pass",
      "Assign": {
        "project_name": "{% $exists($states.input.project_name) ? $states.input.project_name : ($contains($raw_message,'project_name=') ? $split($split($raw_message,'project_name=')[1],';')[0] : 'ndr-project') %}",
        "feature_spec_version": "{% $exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($contains($raw_message,'feature_spec_version=') ? $split($split($raw_message,'feature_spec_version=')[1],';')[0] : 'v1') %}",
        "mini_batch_id": "{% $exists($states.input.mini_batch_id) ? $states.input.mini_batch_id : ($contains($raw_message,'mini_batch_id=') ? $split($split($raw_message,'mini_batch_id=')[1],';')[0] : 'auto-mini-batch') %}",
        "batch_start_ts_iso": "{% $exists($states.input.batch_start_ts_iso) ? $states.input.batch_start_ts_iso : ($contains($raw_message,'batch_start_ts_iso=') ? $split($split($raw_message,'batch_start_ts_iso=')[1],';')[0] : '2025-01-01T00:00:00Z') %}",
        "batch_end_ts_iso": "{% $exists($states.input.batch_end_ts_iso) ? $states.input.batch_end_ts_iso : ($contains($raw_message,'batch_end_ts_iso=') ? $split($split($raw_message,'batch_end_ts_iso=')[1],';')[0] : '2025-01-01T00:15:00Z') %}",
        "execution_ts_iso": "{% $exists($states.input.execution_ts_iso) ? $states.input.execution_ts_iso : $now() %}",
        "lock_ttl_epoch": "{% $exists($states.input.lock_ttl_epoch) ? $states.input.lock_ttl_epoch : 1893456000 %}"
      },
      "Next": "AcquireMiniBatchLock"
    },
    "AcquireMiniBatchLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Arguments": {
        "TableName": "${LockTableName}",
        "Item": {
          "pk": { "S": "{% $project_name & '#' & $feature_spec_version %}" },
          "sk": { "S": "{% $batch_start_ts_iso & '#' & $batch_end_ts_iso %}" },
          "ttl_epoch": { "N": "{% $string($lock_ttl_epoch) %}" },
          "created_at": { "S": "{% $execution_ts_iso %}" }
        },
        "ConditionExpression": "attribute_not_exists(pk) AND attribute_not_exists(sk)"
      },
      "Catch": [
        {
          "ErrorEquals": ["DynamoDB.ConditionalCheckFailedException"],
          "Next": "DuplicateMiniBatch"
        }
      ],
      "Next": "Start15mFeaturesPipeline"
    },
    "DuplicateMiniBatch": {
      "Type": "Fail",
      "Error": "DuplicateMiniBatch",
      "Cause": "Execution lock already exists for this 15m window"
    },
    "Start15mFeaturesPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineName15m}",
        "PipelineParameters": [
          { "Name": "ProjectName", "Value": "{% $project_name %}" },
          { "Name": "FeatureSpecVersion", "Value": "{% $feature_spec_version %}" },
          { "Name": "MiniBatchId", "Value": "{% $mini_batch_id %}" },
          { "Name": "BatchStartTsIso", "Value": "{% $batch_start_ts_iso %}" },
          { "Name": "BatchEndTsIso", "Value": "{% $batch_end_ts_iso %}" }
        ]
      },
      "Assign": {
        "features_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}"
      },
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "ReleaseMiniBatchLockOnFailure" }],
      "Next": "WaitForFeaturesCompletionEvent"
    },
    "WaitForFeaturesCompletionEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Arguments": {
        "FunctionName": "${PipelineCompletionCallbackLambdaArn}",
        "Payload": {
          "taskToken": "{% $states.context.Task.Token %}",
          "expected_pipeline_execution_arn": "{% $features_pipeline_execution_arn %}",
          "success_statuses": ["Succeeded"],
          "failure_statuses": ["Failed", "Stopped"]
        }
      },
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "ReleaseMiniBatchLockOnFailure" }],
      "Next": "StartInferencePipeline"
    },
    "StartInferencePipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameInference}",
        "PipelineParameters": [
          { "Name": "ProjectName", "Value": "{% $project_name %}" },
          { "Name": "FeatureSpecVersion", "Value": "{% $feature_spec_version %}" },
          { "Name": "MiniBatchId", "Value": "{% $mini_batch_id %}" },
          { "Name": "BatchStartTsIso", "Value": "{% $batch_start_ts_iso %}" },
          { "Name": "BatchEndTsIso", "Value": "{% $batch_end_ts_iso %}" }
        ]
      },
      "Assign": {
        "inference_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}"
      },
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "ReleaseMiniBatchLockOnFailure" }],
      "Next": "WaitForInferenceCompletionEvent"
    },
    "WaitForInferenceCompletionEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Arguments": {
        "FunctionName": "${PipelineCompletionCallbackLambdaArn}",
        "Payload": {
          "taskToken": "{% $states.context.Task.Token %}",
          "expected_pipeline_execution_arn": "{% $inference_pipeline_execution_arn %}",
          "success_statuses": ["Succeeded"],
          "failure_statuses": ["Failed", "Stopped"]
        }
      },
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "ReleaseMiniBatchLockOnFailure" }],
      "Next": "EmitInferenceCompleteEvent"
    },
    "EmitInferenceCompleteEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Source": "ndr.orchestration",
            "DetailType": "NdrInferencePipelineCompleted",
            "EventBusName": "${EventBusName}",
            "Detail": "{% $string({'project_name': $project_name, 'feature_spec_version': $feature_spec_version, 'mini_batch_id': $mini_batch_id, 'batch_start_ts_iso': $batch_start_ts_iso, 'batch_end_ts_iso': $batch_end_ts_iso, 'inference_pipeline_execution_arn': $inference_pipeline_execution_arn}) %}"
          }
        ]
      },
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "ReleaseMiniBatchLockOnFailure" }],
      "Next": "ReleaseMiniBatchLockOnSuccess"
    },
    "ReleaseMiniBatchLockOnSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:deleteItem",
      "Arguments": {
        "TableName": "${LockTableName}",
        "Key": {
          "pk": { "S": "{% $project_name & '#' & $feature_spec_version %}" },
          "sk": { "S": "{% $batch_start_ts_iso & '#' & $batch_end_ts_iso %}" }
        }
      },
      "Next": "Success"
    },
    "ReleaseMiniBatchLockOnFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:deleteItem",
      "Arguments": {
        "TableName": "${LockTableName}",
        "Key": {
          "pk": { "S": "{% $project_name & '#' & $feature_spec_version %}" },
          "sk": { "S": "{% $batch_start_ts_iso & '#' & $batch_end_ts_iso %}" }
        }
      },
      "Catch": [{ "ErrorEquals": ["States.ALL"], "Next": "WorkflowFailed" }],
      "Next": "WorkflowFailed"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "Ndr15mFeaturesInferenceFailed",
      "Cause": "15m features/inference orchestration failed"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
