ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_15m_features_inference.json
{
  "Comment": "NDR 15m features + inference orchestrator (JSONata)",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeIncomingMessage",
  "States": {
    "NormalizeIncomingMessage": {
      "Type": "Pass",
      "Assign": {
        "raw_message": "{% $type($states.input)='string' ? $states.input : ($exists($states.input.message_body) ? $states.input.message_body : ($exists($states.input.Records[0].body) ? $states.input.Records[0].body : ($exists($states.input.Records[0].Sns.Message) ? $states.input.Records[0].Sns.Message : ''))) %}"
      },
      "Next": "ParseIncomingProjectContext"
    },
    "ParseIncomingProjectContext": {
      "Type": "Pass",
      "Assign": {
        "parsed_project_name": "{% $contains($raw_message,'project_name=') ? $split($split($raw_message,'project_name=')[1],';')[0] : '' %}",
        "parsed_feature_spec_version": "{% $contains($raw_message,'feature_spec_version=') ? $split($split($raw_message,'feature_spec_version=')[1],';')[0] : '' %}",
        "parsed_s3_key": "{% $exists($states.input.s3_key) ? $states.input.s3_key : ($contains($raw_message,'s3_key=') ? $split($split($raw_message,'s3_key=')[1],';')[0] : '') %}",
        "parsed_org1": "{% $count($split($parsed_s3_key,'/')) >= 1 ? $split($parsed_s3_key,'/')[0] : '' %}",
        "parsed_org2": "{% $count($split($parsed_s3_key,'/')) >= 2 ? $split($parsed_s3_key,'/')[1] : '' %}",
        "parsed_date_prefix": "{% $count($split($parsed_s3_key,'/')) >= 7 ? $join([$split($parsed_s3_key,'/')[3],$split($parsed_s3_key,'/')[4],$split($parsed_s3_key,'/')[5]],'/') : '' %}",
        "parsed_batch_folder": "{% $count($split($parsed_s3_key,'/')) >= 7 ? $split($parsed_s3_key,'/')[6] : '' %}",
        "parsed_project_name_from_path": "{% $count($split($parsed_s3_key,'/')) >= 3 ? $split($parsed_s3_key,'/')[2] : '' %}",
        "parsed_source_ts_iso": "{% $exists($states.input.timestamp) ? $states.input.timestamp : ($exists($states.input.event_ts) ? $states.input.event_ts : ($contains($raw_message,'timestamp=') ? $split($split($raw_message,'timestamp=')[1],';')[0] : $now())) %}"
      },
      "Next": "BatchMarkerEventChoice"
    },
    "BatchMarkerEventChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $exists($states.input.force_process) ? $states.input.force_process = true : false %}",
          "Next": "LoadProjectRoutingFromDynamo"
        },
        {
          "Condition": "{% $parsed_s3_key != '' and $exists($match($parsed_s3_key, /\\/_SUCCESS$/)) %}",
          "Next": "LoadProjectRoutingFromDynamo"
        }
      ],
      "Default": "IgnoreNonBatchMarkerEvent"
    },
    "IgnoreNonBatchMarkerEvent": {
      "Type": "Succeed"
    },
    "LoadProjectRoutingFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${ProjectRoutingTableName}",
        "Key": {
          "org_key": {
            "S": "{% $parsed_org1 & '#' & $parsed_org2 %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "routed_project_name": "{% $exists($states.result.Item.project_name.S) ? $states.result.Item.project_name.S : '' %}",
        "routed_ingestion_prefix": "{% $exists($states.result.Item.ingestion_prefix.S) ? $states.result.Item.ingestion_prefix.S : '' %}"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "LoadProjectParametersFromDynamo"
        }
      ],
      "Next": "LoadProjectParametersFromDynamo"
    },
    "LoadProjectParametersFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${ProjectParametersTableName}",
        "Key": {
          "project_name": {
            "S": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : $routed_project_name) %}"
          },
          "job_name": {
            "S": "{% 'project_parameters#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '${DefaultFeatureSpecVersion}')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "project_parameters_spec": "{% $exists($states.result.Item.spec.M) ? $states.result.Item.spec.M : {} %}",
        "project_defaults": "{% $exists($states.result.Item.spec.M.defaults.M) ? $states.result.Item.spec.M.defaults.M : {} %}"
      },
      "Next": "ResolvePipelineRuntimeParams"
    },
    "ResolvePipelineRuntimeParams": {
      "Type": "Pass",
      "Assign": {
        "project_name": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : ($parsed_project_name_from_path != '' ? $parsed_project_name_from_path : ($routed_project_name != '' ? $routed_project_name : ($exists($project_defaults.ProjectName.S) ? $project_defaults.ProjectName.S : '')))) %}",
        "feature_spec_version": "{% $exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : ($exists($project_defaults.FeatureSpecVersion.S) ? $project_defaults.FeatureSpecVersion.S : '${DefaultFeatureSpecVersion}')) %}",
        "mini_batch_id": "{% $exists($states.input.mini_batch_id) ? $states.input.mini_batch_id : ($parsed_batch_folder != '' ? $parsed_batch_folder : ($contains($raw_message,'mini_batch_id=') ? $split($split($raw_message,'mini_batch_id=')[1],';')[0] : ($exists($project_defaults.MiniBatchId.S) ? $project_defaults.MiniBatchId.S : ''))) %}",
        "batch_start_ts_iso": "{% $exists($states.input.batch_start_ts_iso) ? $states.input.batch_start_ts_iso : ($exists($source_timestamp_iso) and $source_timestamp_iso != '' ? $fromMillis($toMillis($source_timestamp_iso) - (($number($substring($source_timestamp_iso,14,2)) >= 53 ? $number($substring($source_timestamp_iso,14,2)) - 53 : ($number($substring($source_timestamp_iso,14,2)) >= 38 ? $number($substring($source_timestamp_iso,14,2)) - 38 : ($number($substring($source_timestamp_iso,14,2)) >= 23 ? $number($substring($source_timestamp_iso,14,2)) - 23 : ($number($substring($source_timestamp_iso,14,2)) >= 8 ? $number($substring($source_timestamp_iso,14,2)) - 8 : $number($substring($source_timestamp_iso,14,2)) + 7)))) * 60000)) : ($exists($project_defaults.BatchStartTsIso.S) ? $project_defaults.BatchStartTsIso.S : '')) %}",
        "batch_end_ts_iso": "{% $source_timestamp_iso %}",
        "execution_ts_iso": "{% $exists($states.input.execution_ts_iso) ? $states.input.execution_ts_iso : ($contains($raw_message,'execution_ts_iso=') ? $split($split($raw_message,'execution_ts_iso=')[1],';')[0] : ($exists($project_defaults.ExecutionTsIso.S) ? $project_defaults.ExecutionTsIso.S : $now())) %}",
        "lock_ttl_epoch": "{% $exists($states.input.lock_ttl_epoch) ? $states.input.lock_ttl_epoch : ($exists($project_defaults.LockTtlEpoch.N) ? $number($project_defaults.LockTtlEpoch.N) : 1893456000) %}",
        "mini_batch_s3_prefix": "{% $exists($states.input.mini_batch_s3_prefix) ? $states.input.mini_batch_s3_prefix : ($routed_ingestion_prefix != '' and $parsed_date_prefix != '' and $parsed_batch_folder != '' ? $routed_ingestion_prefix & '/' & $parsed_date_prefix & '/' & $parsed_batch_folder & '/' : ($exists($project_defaults.MiniBatchS3Prefix.S) ? $project_defaults.MiniBatchS3Prefix.S : '')) %}",
        "source_timestamp_iso": "{% $exists($states.input.batch_end_ts_iso) ? $states.input.batch_end_ts_iso : $parsed_source_ts_iso %}"
      },
      "Next": "AcquireMiniBatchLock"
    },
    "AcquireMiniBatchLock": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:putItem",
      "Arguments": {
        "TableName": "${LockTableName}",
        "Item": {
          "pk": {
            "S": "{% $project_name & '#' & $feature_spec_version %}"
          },
          "sk": {
            "S": "{% $batch_start_ts_iso & '#' & $batch_end_ts_iso %}"
          },
          "ttl_epoch": {
            "N": "{% $string($lock_ttl_epoch) %}"
          },
          "created_at": {
            "S": "{% $execution_ts_iso %}"
          }
        },
        "ConditionExpression": "attribute_not_exists(pk) AND attribute_not_exists(sk)"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "DynamoDB.ConditionalCheckFailedException"
          ],
          "Next": "DuplicateMiniBatch"
        }
      ],
      "Next": "Start15mFeaturesPipeline"
    },
    "DuplicateMiniBatch": {
      "Type": "Fail",
      "Error": "DuplicateMiniBatch",
      "Cause": "Execution lock already exists for this 15m window"
    },
    "Start15mFeaturesPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineName15m}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "MiniBatchId",
            "Value": "{% $mini_batch_id %}"
          },
          {
            "Name": "BatchStartTsIso",
            "Value": "{% $batch_start_ts_iso %}"
          },
          {
            "Name": "BatchEndTsIso",
            "Value": "{% $batch_end_ts_iso %}"
          }
        ]
      },
      "Assign": {
        "features_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReleaseMiniBatchLockOnFailure"
        }
      ],
      "Next": "WaitForFeaturesCompletionEvent"
    },
    "WaitForFeaturesCompletionEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Arguments": {
        "FunctionName": "${PipelineCompletionCallbackLambdaArn}",
        "Payload": {
          "taskToken": "{% $states.context.Task.Token %}",
          "expected_pipeline_execution_arn": "{% $features_pipeline_execution_arn %}",
          "success_statuses": [
            "Succeeded"
          ],
          "failure_statuses": [
            "Failed",
            "Stopped"
          ]
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReleaseMiniBatchLockOnFailure"
        }
      ],
      "Next": "StartInferencePipeline"
    },
    "StartInferencePipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameInference}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "MiniBatchId",
            "Value": "{% $mini_batch_id %}"
          },
          {
            "Name": "BatchStartTsIso",
            "Value": "{% $batch_start_ts_iso %}"
          },
          {
            "Name": "BatchEndTsIso",
            "Value": "{% $batch_end_ts_iso %}"
          }
        ]
      },
      "Assign": {
        "inference_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}"
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReleaseMiniBatchLockOnFailure"
        }
      ],
      "Next": "WaitForInferenceCompletionEvent"
    },
    "WaitForInferenceCompletionEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Arguments": {
        "FunctionName": "${PipelineCompletionCallbackLambdaArn}",
        "Payload": {
          "taskToken": "{% $states.context.Task.Token %}",
          "expected_pipeline_execution_arn": "{% $inference_pipeline_execution_arn %}",
          "success_statuses": [
            "Succeeded"
          ],
          "failure_statuses": [
            "Failed",
            "Stopped"
          ]
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReleaseMiniBatchLockOnFailure"
        }
      ],
      "Next": "EmitInferenceCompleteEvent"
    },
    "EmitInferenceCompleteEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Source": "ndr.orchestration",
            "DetailType": "NdrInferencePipelineCompleted",
            "EventBusName": "${EventBusName}",
            "Detail": "{% $string({'project_name': $project_name, 'feature_spec_version': $feature_spec_version, 'mini_batch_id': $mini_batch_id, 'batch_start_ts_iso': $batch_start_ts_iso, 'batch_end_ts_iso': $batch_end_ts_iso, 'inference_pipeline_execution_arn': $inference_pipeline_execution_arn}) %}"
          }
        ]
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "ReleaseMiniBatchLockOnFailure"
        }
      ],
      "Next": "ReleaseMiniBatchLockOnSuccess"
    },
    "ReleaseMiniBatchLockOnSuccess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:deleteItem",
      "Arguments": {
        "TableName": "${LockTableName}",
        "Key": {
          "pk": {
            "S": "{% $project_name & '#' & $feature_spec_version %}"
          },
          "sk": {
            "S": "{% $batch_start_ts_iso & '#' & $batch_end_ts_iso %}"
          }
        }
      },
      "Next": "Success"
    },
    "ReleaseMiniBatchLockOnFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:deleteItem",
      "Arguments": {
        "TableName": "${LockTableName}",
        "Key": {
          "pk": {
            "S": "{% $project_name & '#' & $feature_spec_version %}"
          },
          "sk": {
            "S": "{% $batch_start_ts_iso & '#' & $batch_end_ts_iso %}"
          }
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "WorkflowFailed"
        }
      ],
      "Next": "WorkflowFailed"
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "Ndr15mFeaturesInferenceFailed",
      "Cause": "15m features/inference orchestration failed"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
