ndr_features_pipeline/docs/step_functions_jsonata/sfn_ndr_backfill_reprocessing.json
{
  "Comment": "NDR backfill/reprocessing orchestrator with bounded parallelism + polling",
  "QueryLanguage": "JSONata",
  "StartAt": "NormalizeIncomingMessage",
  "States": {
    "NormalizeIncomingMessage": {
      "Type": "Pass",
      "Assign": {
        "raw_message": "{% $type($states.input)='string' ? $states.input : ($exists($states.input.message_body) ? $states.input.message_body : ($exists($states.input.Records[0].body) ? $states.input.Records[0].body : ($exists($states.input.Records[0].Sns.Message) ? $states.input.Records[0].Sns.Message : ''))) %}"
      },
      "Next": "ParseIncomingProjectContext"
    },
    "ParseIncomingProjectContext": {
      "Type": "Pass",
      "Assign": {
        "parsed_project_name": "{% $contains($raw_message,'project_name=') ? $split($split($raw_message,'project_name=')[1],';')[0] : '' %}",
        "parsed_feature_spec_version": "{% $contains($raw_message,'feature_spec_version=') ? $split($split($raw_message,'feature_spec_version=')[1],';')[0] : '' %}"
      },
      "Next": "LoadDppConfigFromDynamo"
    },
    "ResolvePipelineRuntimeParams": {
      "Type": "Pass",
      "Assign": {
        "project_name": "{% $exists($states.input.project_name) ? $states.input.project_name : ($parsed_project_name != '' ? $parsed_project_name : ($exists($project_defaults.ProjectName.S) ? $project_defaults.ProjectName.S : '')) %}",
        "feature_spec_version": "{% $exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : ($exists($project_defaults.FeatureSpecVersion.S) ? $project_defaults.FeatureSpecVersion.S : '${DefaultFeatureSpecVersion}')) %}",
        "start_ts": "{% $exists($states.input.start_ts) ? $states.input.start_ts : ($exists($states.input.missing_ranges[0].start_ts_iso) ? $min($states.input.missing_ranges.start_ts_iso) : ($contains($raw_message,'start_ts=') ? $split($split($raw_message,'start_ts=')[1],';')[0] : ($exists($project_defaults.StartTs.S) ? $project_defaults.StartTs.S : ''))) %}",
        "end_ts": "{% $exists($states.input.end_ts) ? $states.input.end_ts : ($exists($states.input.missing_ranges[0].end_ts_iso) ? $max($states.input.missing_ranges.end_ts_iso) : ($contains($raw_message,'end_ts=') ? $split($split($raw_message,'end_ts=')[1],';')[0] : ($exists($project_defaults.EndTs.S) ? $project_defaults.EndTs.S : ''))) %}",
        "input_s3_prefix": "{% $exists($states.input.input_s3_prefix) ? $states.input.input_s3_prefix : ($exists($project_defaults.HistoricalInputS3Prefix.S) ? $project_defaults.HistoricalInputS3Prefix.S : '') %}",
        "output_s3_prefix": "{% $exists($states.input.output_s3_prefix) ? $states.input.output_s3_prefix : ($exists($project_defaults.HistoricalWindowsOutputS3Prefix.S) ? $project_defaults.HistoricalWindowsOutputS3Prefix.S : '') %}",
        "output_s3_bucket": "{% $split($replace($output_s3_prefix, 's3://', ''), '/')[0] %}",
        "output_s3_key_prefix": "{% $substringAfter($replace($output_s3_prefix, 's3://', ''), '/') %}",
        "requested_families_csv": "{% $exists($states.input.requested_families[0]) ? $join($states.input.requested_families, ',') : '' %}"
      },
      "Next": "ValidateResolvedRuntimeParams"
    },
    "StartHistoricalWindowsExtractorPipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
      "Arguments": {
        "PipelineName": "${PipelineNameBackfillHistoricalExtractor}",
        "PipelineParameters": [
          {
            "Name": "ProjectName",
            "Value": "{% $project_name %}"
          },
          {
            "Name": "FeatureSpecVersion",
            "Value": "{% $feature_spec_version %}"
          },
          {
            "Name": "StartTsIso",
            "Value": "{% $start_ts %}"
          },
          {
            "Name": "EndTsIso",
            "Value": "{% $end_ts %}"
          },
          {
            "Name": "InputS3Prefix",
            "Value": "{% $input_s3_prefix %}"
          },
          {
            "Name": "OutputS3Prefix",
            "Value": "{% $output_s3_prefix %}"
          },
          {
            "Name": "RequestedFamilies",
            "Value": "{% $requested_families_csv %}"
          }
        ]
      },
      "Assign": {
        "extractor_pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}",
        "extractor_poll_attempt": 0
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 4,
          "BackoffRate": 2.0
        }
      ],
      "Next": "DescribeHistoricalWindowsExtractor"
    },
    "DescribeHistoricalWindowsExtractor": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
      "Arguments": {
        "PipelineExecutionArn": "{% $extractor_pipeline_execution_arn %}"
      },
      "Assign": {
        "extractor_pipeline_status": "{% $states.result.PipelineExecutionStatus %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "SageMaker.AmazonSageMakerException",
            "ThrottlingException",
            "States.TaskFailed"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 6,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ExtractorPipelineStatusChoice"
    },
    "ExtractorPipelineStatusChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $extractor_pipeline_status = 'Succeeded' %}",
          "Next": "ReadExtractorManifest"
        },
        {
          "Condition": "{% ($extractor_pipeline_status = 'Executing' or $extractor_pipeline_status = 'Stopping') and $extractor_poll_attempt < 120 %}",
          "Next": "WaitBeforeExtractorDescribe"
        }
      ],
      "Default": "WorkflowFailed"
    },
    "WaitBeforeExtractorDescribe": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "IncrementExtractorPollAttempt"
    },
    "IncrementExtractorPollAttempt": {
      "Type": "Pass",
      "Assign": {
        "extractor_poll_attempt": "{% $extractor_poll_attempt + 1 %}"
      },
      "Next": "DescribeHistoricalWindowsExtractor"
    },
    "ResolveBackfillWindows": {
      "Type": "Pass",
      "Assign": {
        "windows": "{% $extractor_manifest.map_items %}"
      },
      "Next": "RunBackfillWindows"
    },
    "RunBackfillWindows": {
      "Type": "Map",
      "Items": "{% $windows %}",
      "MaxConcurrency": 4,
      "ItemSelector": {
        "project_name": "{% $project_name %}",
        "feature_spec_version": "{% $feature_spec_version %}",
        "family": "{% $states.context.Map.Item.Value.family %}",
        "range_start_ts": "{% $states.context.Map.Item.Value.range_start_ts %}",
        "range_end_ts": "{% $states.context.Map.Item.Value.range_end_ts %}"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "StartBackfillPipeline",
        "States": {
          "StartBackfillPipeline": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sagemaker:startPipelineExecution",
            "Arguments": {
              "PipelineName": "${PipelineNameBackfill15m}",
              "PipelineParameters": [
                {
                  "Name": "ProjectName",
                  "Value": "{% $states.input.project_name %}"
                },
                {
                  "Name": "FeatureSpecVersion",
                  "Value": "{% $states.input.feature_spec_version %}"
                },
                {
                  "Name": "ArtifactFamily",
                  "Value": "{% $states.input.family %}"
                },
                {
                  "Name": "RangeStartTsIso",
                  "Value": "{% $states.input.range_start_ts %}"
                },
                {
                  "Name": "RangeEndTsIso",
                  "Value": "{% $states.input.range_end_ts %}"
                }
              ]
            },
            "Assign": {
              "pipeline_execution_arn": "{% $states.result.PipelineExecutionArn %}",
              "poll_attempt": 0
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "SageMaker.AmazonSageMakerException",
                  "ThrottlingException",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 4,
                "BackoffRate": 2.0
              }
            ],
            "Next": "DescribeBackfillPipeline"
          },
          "DescribeBackfillPipeline": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sagemaker:describePipelineExecution",
            "Arguments": {
              "PipelineExecutionArn": "{% $pipeline_execution_arn %}"
            },
            "Assign": {
              "pipeline_status": "{% $states.result.PipelineExecutionStatus %}"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "SageMaker.AmazonSageMakerException",
                  "ThrottlingException",
                  "States.TaskFailed"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 6,
                "BackoffRate": 2.0
              }
            ],
            "Next": "BackfillPipelineStatusChoice"
          },
          "BackfillPipelineStatusChoice": {
            "Type": "Choice",
            "Choices": [
              {
                "Condition": "{% $pipeline_status = 'Succeeded' %}",
                "Next": "BackfillWindowSucceeded"
              },
              {
                "Condition": "{% ($pipeline_status = 'Executing' or $pipeline_status = 'Stopping') and $poll_attempt < 120 %}",
                "Next": "WaitBeforeBackfillDescribe"
              }
            ],
            "Default": "BackfillWindowFailed"
          },
          "WaitBeforeBackfillDescribe": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "IncrementBackfillPollAttempt"
          },
          "IncrementBackfillPollAttempt": {
            "Type": "Pass",
            "Assign": {
              "poll_attempt": "{% $poll_attempt + 1 %}"
            },
            "Next": "DescribeBackfillPipeline"
          },
          "BackfillWindowSucceeded": {
            "Type": "Succeed"
          },
          "BackfillWindowFailed": {
            "Type": "Fail",
            "Error": "BackfillWindowPipelineFailed",
            "Cause": "Backfill window execution did not succeed"
          }
        }
      },
      "Next": "BackfillCompletionVerifier"
    },
    "EmitBackfillReconciliationEvent": {
      "Type": "Task",
      "Resource": "arn:aws:states:::events:putEvents",
      "Arguments": {
        "Entries": [
          {
            "Source": "ndr.orchestration",
            "DetailType": "NdrBackfillCompleted",
            "EventBusName": "${EventBusName}",
            "Detail": "{% $string({'project_name': $project_name, 'feature_spec_version': $feature_spec_version, 'start_ts': $start_ts, 'end_ts': $end_ts, 'window_count': $count($windows), 'families_executed': $distinct($windows.family), 'families_unresolved': $unresolved_families}) %}"
          }
        ]
      },
      "End": true
    },
    "WorkflowFailed": {
      "Type": "Fail",
      "Error": "NdrBackfillFailed",
      "Cause": "Backfill orchestration failed"
    },
    "ValidateResolvedRuntimeParams": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $project_name = \"\" %}",
          "Next": "FailMissingProjectName"
        },
        {
          "Condition": "{% $feature_spec_version = \"\" %}",
          "Next": "FailMissingFeatureSpecVersion"
        },
        {
          "Condition": "{% $requested_families_csv = \"\" %}",
          "Next": "FailMissingRequestedFamilies"
        },
        {
          "Condition": "{% $input_s3_prefix = \"\" %}",
          "Next": "FailMissingInputS3Prefix"
        },
        {
          "Condition": "{% $output_s3_prefix = \"\" %}",
          "Next": "FailMissingOutputS3Prefix"
        },
        {
          "Condition": "{% $start_ts = \"\" %}",
          "Next": "FailMissingStartTs"
        },
        {
          "Condition": "{% $end_ts = \"\" %}",
          "Next": "FailMissingEndTs"
        },
        {
          "Condition": "{% $match($start_ts, /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$/) = null %}",
          "Next": "FailInvalidStartTsFormat"
        },
        {
          "Condition": "{% $match($end_ts, /^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$/) = null %}",
          "Next": "FailInvalidEndTsFormat"
        },
        {
          "Condition": "{% $toMillis($start_ts) >= $toMillis($end_ts) %}",
          "Next": "FailInvalidBackfillWindow"
        }
      ],
      "Default": "StartHistoricalWindowsExtractorPipeline"
    },
    "FailMissingProjectName": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: project_name"
    },
    "FailMissingFeatureSpecVersion": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: feature_spec_version"
    },
    "FailMissingInputS3Prefix": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: input_s3_prefix"
    },
    "FailMissingOutputS3Prefix": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: output_s3_prefix"
    },
    "FailMissingStartTs": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: start_ts"
    },
    "FailMissingEndTs": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: end_ts"
    },
    "FailInvalidStartTsFormat": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Invalid runtime parameter format: start_ts must be ISO-8601 UTC (YYYY-MM-DDThh:mm:ssZ)"
    },
    "FailInvalidEndTsFormat": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Invalid runtime parameter format: end_ts must be ISO-8601 UTC (YYYY-MM-DDThh:mm:ssZ)"
    },
    "FailInvalidBackfillWindow": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Invalid runtime parameter window: start_ts must be strictly earlier than end_ts"
    },
    "LoadDppConfigFromDynamo": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
      "Arguments": {
        "TableName": "${DppConfigTableName}",
        "Key": {
          "project_name": {
            "S": "{% $exists($states.input.project_name) ? $states.input.project_name : $parsed_project_name %}"
          },
          "job_name_version": {
            "S": "{% 'pipeline_defaults#' & ($exists($states.input.feature_spec_version) ? $states.input.feature_spec_version : ($parsed_feature_spec_version != '' ? $parsed_feature_spec_version : '${DefaultFeatureSpecVersion}')) %}"
          }
        },
        "ConsistentRead": true
      },
      "Assign": {
        "project_defaults": "{% $exists($states.result.Item.spec.M.defaults.M) ? $states.result.Item.spec.M.defaults.M : {} %}"
      },
      "Next": "ResolvePipelineRuntimeParams"
    },
    "ReadExtractorManifest": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Arguments": {
        "Bucket": "{% $output_s3_bucket %}",
        "Key": "{% $output_s3_key_prefix & \"/historical_windows/latest_manifest.json\" %}"
      },
      "Assign": {
        "extractor_manifest": "{% $eval($states.result.Body) %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "S3.NoSuchKey",
            "States.TaskFailed",
            "ThrottlingException"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 4,
          "BackoffRate": 2.0
        }
      ],
      "Next": "ValidateExtractorManifest"
    },
    "ValidateExtractorManifest": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% not($exists($extractor_manifest.contract_version)) or $extractor_manifest.contract_version != 'backfill_manifest.v1' %}",
          "Next": "FailInvalidExtractorManifest"
        },
        {
          "Condition": "{% not($exists($extractor_manifest.map_items)) %}",
          "Next": "FailInvalidExtractorManifest"
        },
        {
          "Condition": "{% not($exists($extractor_manifest.requested_families[0])) %}",
          "Next": "FailInvalidExtractorManifest"
        }
      ],
      "Default": "ResolveBackfillWindows"
    },
    "FailInvalidExtractorManifest": {
      "Type": "Fail",
      "Error": "ExtractorManifestValidationError",
      "Cause": "Extractor manifest missing or invalid for backfill map execution"
    },
    "BackfillCompletionVerifier": {
      "Type": "Pass",
      "Assign": {
        "requested_families": "{% $extractor_manifest.requested_families %}",
        "executed_families": "{% $distinct($windows.family) %}",
        "unresolved_families": "{% $filter($requested_families, function($f){$not($contains($executed_families, $f))}) %}",
        "all_families_succeeded": "{% $count($requested_families) > 0 and $count($unresolved_families) = 0 %}"
      },
      "Next": "BackfillCompletionChoice"
    },
    "BackfillCompletionChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $all_families_succeeded = true %}",
          "Next": "EmitBackfillReconciliationEvent"
        }
      ],
      "Default": "FailBackfillCompletionContract"
    },
    "FailBackfillCompletionContract": {
      "Type": "Fail",
      "Error": "BackfillCompletionContractError",
      "Cause": "Backfill completion verifier blocked event publication because requested families are unresolved"
    },
    "FailMissingRequestedFamilies": {
      "Type": "Fail",
      "Error": "RuntimeParameterValidationError",
      "Cause": "Missing required runtime parameter: requested_families"
    }
  }
}
